// .isHome{
//     background-color: #e4eaf7 !important;
//  }

.dropdown-toggle::after {
    display:none !important;
}
.dropdown-menu {
    top: 100%;
    margin-top: 78px !important;
    margin-bottom: 0;
}
.dropdown-item:hover{
    color: #233B77;
    background-color: white;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

.navbar-brand{
    max-width: 100%; 
    height: auto;
}

.nav-item {
    margin-right: 15px;
    z-index: 99999999;
    @media (max-width: 768px) {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

.nav-link {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 5px 10px;
    white-space: nowrap;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
}

.navbar-nav .nav-link.active {
    color: red !important;
}

.navbar-nav .nav-item .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
}

.rightsidebtn {
    margin-left: 15px;
    // height: 40px;

    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    // display: flex;
    align-items: center;
    white-space: wrap;
    padding: 10px 15px;
    background-color: #FE3744;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    opacity: 0.9;

    @media (max-width: 768px) {
        margin-top: 10px;
        margin-left: 0;
    }
}

.rightsidebtn img {
    margin-left: 5px;
}

.header{
    // background-color:  #eff0fd !important; 
    background-color:  rgba(255, 255, 255, 0.1) !important;
}

.navbar {
    margin-top: 20px;
    background-color:  rgba(255, 255, 255, 0.7) !important; 
    // // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // width: 100%;
    // // margin: 0 auto;
    // margin: 20px auto;
    // border-radius: 10px;
    // padding: 9px 16px;
    // // background-color:#e4eaf7;
    // background-color:transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    // transition: background-color 0.3s ease-in-out;
    // // position: relative;
    // z-index: 1002;

    // justify-content: space-between;
    // align-items: center;
    // width: 100%;
    // margin: 20px auto;
    // border-radius: 10px;
    // padding: 9px 16px;
    // background-color: rgba(255, 255, 255, 0.5) !important;
    // // background: rgba(0,0,0,0.5);
    // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    // transition: background-color 0.3s ease-in-out;
    // position: relative; /* Keeps the navbar fixed at the top of the page */
    // top: 0; /* Aligns the navbar with the top of the viewport */
    // left: 0; /* Aligns the navbar with the left edge of the viewport */
    // z-index: 1002;
    // max-height: 100vh; /* Limits the navbar height to the viewport height */
    // overflow-y: auto; /* Enables vertical scrolling within the navbar */
}

.navbar-collapse {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-grow: 1;

    display: none; /* Hidden by default */
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    &.show {
        display: flex !important; /* Shown when toggled */
        flex-direction: column;
        align-items: flex-start;
        background-color: #e4eaf7; /* Same background as navbar */
        width: 100%; /* Full width on mobile */
        position: absolute;
        top: 100%;
        left: 0;
        padding: 15px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
}

.navbar-collapse {
    &.show {
      display: block !important;
    }
  }

#navbarNav ul li a {
    font-size: 14px;
    font-weight: 600;
    color: #0B0B0B;
    line-height: 15px;
}

.section-title {
    color: red;
    font-weight: bold;
}

.tab-button {
    background-color: #e7e7e7;
    border: none;
    margin-right: 10px;
    padding: 15px 20px;
}

.tab-button.active {
    background-color: #233B77;
    color: white;
}

.complete {
    color: #3C4150;
    font-weight: 600;
    font-size: 35px;
    line-height: 36px;
}

.supplier {
    border-radius: 10px;
    background-color: #233b7721;
    font-size: 16px;
    color: #233B77;
    padding: 10px 15px !important;
}

.next {
    background-color: #233B77;
    font-size: 16px;
    border: none;
}

.back {
    border-color: #233B77;
    color: #233B77;
}

.back:hover {
    background-color: #233B77;
    color: white;
}

.form-group label {
    font-size: 14px;
}

input::placeholder {
    font-size: 15px;
    color: #4F585E;
    font-weight: 600;
}

.hamburger-icon {
    cursor: pointer;
    display: block;
    // position: relative;
    z-index: 10;
    
    span {
      display: block;
      width: 25px;
      height: 3px;
      margin-bottom: 5px;
      background-color: #000;
      transition: all 0.3s ease;
    }
    &.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    &.open span:nth-child(2) {
        opacity: 0;
    }

    &.open span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
  }

@media (max-width: 1200px) {
    .navbar-nav {
        justify-content: center;
    }
    .nav-item {
        margin-right: 10px;
    }
    .rightsidebtn {
        font-size: 12px;
        padding: 8px 15px;
    }
    .navbar {
        padding: 8px 12px;
    }
}

@media (max-width: 992px) {
    // .navbar {
    //     flex-direction: column;
    //     align-items: flex-start;
    // }
    .navbar-collapse {
        width: 100%;
        justify-content: center;
    }
    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .rightsidebtn {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        padding: 10px;
        font-size: 16px;
    }
    .rightsidebtn {
        font-size: 12px;
        padding: 8px 12px;
    }
    .navbar-collapse {
        text-align: center;
    }
}


.custom-dropdown-menu {
    // animation: slideInRight 0.3s ease forwards;
    position: absolute;
    top: 120%;
    left: -189px !important;
    z-index: 1000;
    background-color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    width: 250px !important;
    // display: block;
    opacity: 1;
  }
  .dropdown-item{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .user-name-custom{
    font-weight: 500;
    font-size: 18px ;
    line-height: 21.69px;
    color: rgba(0, 0, 0, 1);
  }
