<div class="row">
    <div class="col-12">
        <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3">
        <div class="d-flex flex-column navbar-vertical">

            <div class="card list-item bg-light d-inline" routerLink="dashboard" (click)="redirectTo('Dashboard')" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <img [src]="isActiveUrl('/buyer-dashboard/dashboard') ? '../../../assets/buyer-dashboard/white-icon/dashboard-white.png':'../../../assets/buyer-dashboard/gray-icon/dashboard-gray.png'"
                    alt="dashboard"><span class="p-2 fs-14">Dashboard</span>
            </div>

            <div class="card list-item bg-light d-inline" (click)="redirectTo('My Deals')" routerLink="my-deals" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <img [src]="isActiveUrl('/buyer-dashboard/my-deals') ? '../../../assets/buyer-dashboard/white-icon/my-deals-white.png':'../../../assets/buyer-dashboard/gray-icon/my-deals-gray.png'"
                    alt="my-deals"><span class="p-2 fs-14">My Deals</span>
            </div>

            <div class="card list-item bg-light d-inline"  (click)="redirectTo('Fevourite Suppliers')" routerLink="fevourite-suppliers" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <img [src]="isActiveUrl('/buyer-dashboard/fevourite-suppliers') ? '../../../assets/buyer-dashboard/white-icon/fev-suppliers-white.png':'../../../assets/buyer-dashboard/gray-icon/fev-suppliers-gray.png'"
                    alt="fevourite-suppliers"><span class="p-2 fs-14">My Favourite Suppliers</span>
            </div>

            <div class="card list-item bg-light d-inline"  (click)="redirectTo('Fevourite Product')" routerLink="fevourite-products" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <img [src]="isActiveUrl('/buyer-dashboard/fevourite-products') ? '../../../assets/buyer-dashboard/white-icon/fev-products-white.png':'../../../assets/buyer-dashboard/gray-icon/fev-product-gray.png'"
                    alt="fevourite-products"><span class="p-2 fs-14">My Favourite Products</span>
            </div>
            
            <div class="card list-item bg-light d-inline" routerLink="requested-products" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <img [src]="isActiveUrl('/buyer-dashboard/requested-products') ? '../../../assets/buyer-dashboard/white-icon/request-product-white.png':'../../../assets/buyer-dashboard/gray-icon/request-product-gray.png'"
                    alt="requested-products"><span class="p-2 fs-14">Requested Products</span>
            </div>

            <div class="card list-item bg-light d-inline" (click)="redirectTo('Account Setting')" routerLink="account-setting" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <img [src]="isActiveUrl('/buyer-dashboard/account-setting') ? '../../../assets/buyer-dashboard/white-icon/account-setting-white.png':'../../../assets/buyer-dashboard/gray-icon/account-setting-gray.png'"
                    alt="account-setting"><span class="p-2 fs-14">Account Setting</span>
            </div>

            <div class="card list-item bg-light d-inline" (click)="redirectTo('Change Password')" routerLink="change-password" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <img [src]="isActiveUrl('/buyer-dashboard/change-password') ? '../../../assets/buyer-dashboard/white-icon/change-pass-white.png':'../../../assets/buyer-dashboard/gray-icon/change-pass-gray.png'"
                    alt="change-password"><span class="p-2 fs-14">Change Password</span>
            </div>

            <div class="card list-item bg-light d-inline" (click)="redirectTo('Support')"  routerLink="support" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <img [src]="isActiveUrl('/buyer-dashboard/support') ? '../../../assets/buyer-dashboard/white-icon/support-white.png':'../../../assets/buyer-dashboard/gray-icon/support-gray.png'"
                    alt="support"><span class="p-2 fs-14">Support</span>
            </div>

            <div class="card list-item bg-light d-inline" (click)="logout()">
                <img [src]="isActiveUrl('/buyer-dashboard/logout') ? '../../../assets/buyer-dashboard/gray-icon/logout-gray.png':'../../../assets/buyer-dashboard/gray-icon/logout-gray.png'"
                    alt="logout"><span class="p-2 fs-14">Log Out</span>
            </div>

        </div>

    </div>
    <div class="col-md-9 col-lg-9 col-xl-9 col-sm-9">
        <router-outlet></router-outlet>
    </div>
</div>