
  .list-item{
      padding: 14px !important;
    //   padding-right: 60px !important;
      border-radius: 8px;
      margin-bottom: 10px;
      width: 230px !important;
      cursor: pointer;
  }
  .fsicon{
    font-size: 22px !important;
  }
  .dash{
    padding: 10px !important;
  }

  .active{
    background-color: #233B77 !important;
    color: white !important;
  }
  .isActive{
    background-color: rgb(19, 9, 84) !important;

  }
  .iconInitialColor{
    color: rgb(159, 157, 157);
  }
  


  