<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 style="color: #39383A; font-weight: 500; font-size: 28px;">Change Password</h2>
        <p style="font-weight: 400; font-size: 16px;">Update your password to secure your profile</p>
    </div>
</div>
<form [formGroup]="changePasswordForm">
    <div class="row mt-3">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
            <label style="color: #4F585E; font-size: 14px;">Old Password *</label>
            <input type="password" class="form-control" formControlName="oldPassword" placeholder="Old Password">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
            <label style="color: #4F585E; font-size: 14px;">New Password *</label>
            <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password">
        </div>
    </div>
</form>
<div class="row mt-3">
    <div class="col-12 col-md-4 mb-3">
        <button class="btn"
            style="width: auto; background-color: #233B77; color: white; border-radius: 10px; font-size: 16px; height: 44px;">
            <img src="./../../../../assets/support_update.png" width="22px" height="22px" alt="">
            Update
        </button>
        <button class="btn ms-3"
            style="width: auto; background-color: #DFDFDF; color: black; border-radius: 10px; font-size: 16px; height: 44px;">
            <img src="./../../../../assets/support_cross.png" width="22px" height="22px" alt="">
            Cancel
        </button>
    </div>
</div>