<section class="our-mission-header">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12 product-col">
                <a (click)="goToProductsPage()" class="btn btn-back">
                    <fa-icon [icon]="icons.faLeftLong" style="color: rgb(85, 84, 84);" class="fa-solid"></fa-icon>&nbsp;Back</a>

            </div> -->
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-lg-8 col-xl-8 mx-auto">
                <!-- <div>
                    <h4 class="border-heading">Our Mission</h4>
                    <div class="header-border"></div>
                </div> -->
                <div class="mission-container">
                    <h2 class="mission-title">Our Mission</h2>
                    <button class="underline"></button>
                  </div>

                <p class="details-paragraph mt-2">
                    We are on a mission to provide transparency of food products from farm to fork so you can be rest
                    assured about the origin, packaging, ingredients, quality, certifications etc. of the food products.
                    Our goal is to help you take care of your loved ones with quality food products.
                </p>
                <div class="mt-2">
                    <img src="../../../assets/our_mission/1_scan.png" class="img-fluid" alt="">
                </div>


                <div class="section-title mt-4">
                    <span>Example Quality Certifications</span>
                </div>
                <!-- <div class="certifified-div"></div> -->
                <div class="row my-5">
                    <div class="col-md-8 col-xl-7 col-lg-7 m-auto">
                        <div class="d-flex justify-content-between">
                            <img src="../../../assets/our_mission/1_ussd_organic.png" style="max-height: 40px;" class="img-fluid" alt="">
                            <img src="../../../assets/our_mission/2_Group 14.png" style="max-height: 40px;" class="img-fluid" alt="">
                            <img src="../../../assets/our_mission/3_Group 16.png" style="max-height: 40px;" class="img-fluid" alt="">
                            <img src="../../../assets/our_mission/4_Frame 1.png" style="max-height: 40px;" class="img-fluid" alt="">
                            <img src="../../../assets/our_mission/5_fsc.png" style="max-height: 40px;" class="img-fluid" alt="">
                            <img src="../../../assets/our_mission/6_image 4.png" style="max-height: 40px;" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
             
                <h5 class="heading mt-3">How we do it?</h5>
                <p class="details-paragraph mt-2">
                    We track the product at every step of the value chain with oru unique proprietary processes &
                    technologies to bring you transparency from farm to fork
                </p>
              

              



                <div class="workflow-diagram-div mb-5">
                    <div class="d-flex justify-content-between align-items-end">
                        <div>
                            <img src="../../../assets/our_mission/work-flow/1_farm.png" style="max-height: 60px;" class="img-fluid" alt="">
                            <div class="bg-dark text-light px-3 p-1 mt-2" style="border-radius: 7px;">
                               <span class="mb-0">Farm</span>
                            </div>
                        </div>
                        <!-- <fa-icon [icon]="icons.faArrowRightLong" style="color: rgb(85, 84, 84); font-size: 20px; opacity: 0.4;" class="fa-solid"></fa-icon> -->

                        <div>
                            <img src="../../../assets/our_mission/work-flow/2_management.png" style="max-height: 60px;" class="img-fluid" alt="">
                            <div class="bg-dark text-light px-3 p-1 mt-2" style="border-radius: 7px;">
                               <span class="mb-0">Processing</span>
                            </div>
                        </div>
                        <!-- <fa-icon [icon]="icons.faArrowRightLong" style="color: rgb(85, 84, 84); font-size: 20px; opacity: 0.4;" class="fa-solid"></fa-icon> -->

                        <div>
                            <img src="../../../assets/our_mission/work-flow/3_packages.png" style="max-height: 60px;" class="img-fluid" alt="">
                            <div class="bg-dark text-light px-3 p-1 mt-2"style="border-radius: 7px;">
                               <span class="mb-0">Packaging</span>
                            </div>
                        </div>
                        <!-- <fa-icon [icon]="icons.faArrowRightLong" style="color: rgb(85, 84, 84); font-size: 20px; opacity: 0.4;" class="fa-solid"></fa-icon> -->

                        <div>
                            <img src="../../../assets/our_mission/work-flow/4_delivery-truck.png" style="max-height: 60px;" class="img-fluid" alt="">
                            <div class="bg-dark text-light px-3 p-1 mt-2"style="border-radius: 7px;">
                               <span class="mb-0">Logistics</span>
                            </div>
                        </div>
                        <!-- <fa-icon [icon]="icons.faArrowRightLong" style="color: rgb(85, 84, 84); font-size: 20px; opacity: 0.4;" class="fa-solid"></fa-icon> -->
                        <div>
                            <img src="../../../assets/our_mission/work-flow/5_store.png" style="max-height: 60px;" class="img-fluid" alt="">
                            <div class="bg-dark text-light px-3 p-1 mt-2" style="border-radius: 7px;">
                               <span class="mb-0">Store</span>
                            </div>
                        </div>
                        <!-- <fa-icon [icon]="icons.faArrowRightLong" style="color: rgb(85, 84, 84); font-size: 20px; opacity: 0.4;" class="fa-solid"></fa-icon> -->
                        <div>
                            <img src="../../../assets/our_mission/work-flow/6_customer.png" style="max-height: 60px;" class="img-fluid" alt="">
                            <div class="bg-dark text-light px-3 p-1 mt-2"style="border-radius: 7px;">
                               <span class="mb-0">Consumer</span>
                            </div>
                        </div>
                        <div>
                            <img src="../../../assets/our_mission/work-flow/7_qr_scan.png" style="max-height: 70px;" class="img-fluid" alt="scann">
                        </div>
                       
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>