<div class="card">
  <div class="card-body">
    <div class="modal-header">
      <h4 class="modal-title" style="color:#3C4150">{{ countryName | uppercase}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      <p>Latitude: {{ latitude }}</p>
      <p>Longitude: {{ longitude }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
  </div>
</div>
