<div class="modal-body p-0">
    <div class="row w-100 ">
        <div class="col-12 col-md-5 py-5 justify-content-center align-item-center"
            style="background: rgb(0,153,91);
            background: linear-gradient(90deg, rgba(0,153,91,1) 0%, rgba(0,226,151,1) 0%); border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
            <div style="margin-top: 40%; text-align: center;">
                <img class="d-flex mx-auto" src="./../../../../assets/seller_submit_tick.png"
                    style="width: 70%; max-width: 179px; height: auto;" alt="">
                <p class="text-light text-center" style="font-size: 28px;"><b>Congratulations !</b></p>
                <p class="text-light text-center" style="font-size: 18px;">You have successfully registered your
                    product!
                </p>
            </div>
        </div>
        <div class="col-12 col-md-7 py-5"
            style="background-color: #ffff;border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
            <p class="ms-3" style="font-size: 20px; color: #3C4150;"><b>Naing Shang Pin Food Co.Ltd</b></p>
            <div class="row mt-5" style="display: flex; flex-wrap: wrap;">
                <div class="col-12 col-md-6 ms-3">
                    <p style="font-size: 14px; color: #4F585E;"><b>Address</b></p>
                    <p style="font-size: 14px; color: #4F585E;">Food industrial zone, newly librated
                        area, gaojia town Fenfugu colony,chongging city.</p>
                </div>
                <div class="col-12 col-md-4 ms-3 mt-3 mt-md-0">
                    <p style="font-size: 14px; color: #4F585E;"><b>Supplier ID</b></p>
                    <p style="font-size: 14px; color: #4F585E;">SD8900</p>
                </div>
            </div>
            <div class="row mt-5" style="display: flex; flex-wrap: wrap;">
                <p style="font-size: 14px; color: #4F585E;"><b>Products</b></p>
                <img src="./../../../../assets/seller_submit_product_one.png"
                    style="width: 30%; max-width: 130px; height: auto;" alt="">
                <img class="ms-3 mt-3 mt-md-0" src="./../../../../assets/seller_submit_product_two.png"
                    style="width: 30%; max-width: 130px; height: auto;" alt="">
            </div>
            <div class="row ms-3 mt-5">
                <button class="btn btn-primary" routerLink="/supplier-dashboard/dashboard" (click)="modal.dismiss()"
                    style="border-radius: 10px; width: 35%; height: 54px; font-size: 16px;">
                    View Profile
                    <img src="./../../../../assets/arrow_white.png" style="width: 24px; height: 24px;" alt="">
                </button>
            </div>
        </div>
    </div>
</div>