.homeIcon{
    font-weight: 0;
    opacity: 0.5;

}
.breadcrumb-item{
    color: rgba(35, 59, 119, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

}
.active{
    opacity: 0.8;
}
.rightArrow{
    color: rgb(34, 71, 136);
    opacity: 0.5;
 
}