<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <!-- <h4 class="mb-sm-0">{{title}}</h4> -->

            <div class="text-start">
                <ol class="breadcrumb m-0">
                    <i class="ri-home-line fs-18 homeIcon pb-3"></i>&nbsp;<i class="ri-arrow-right-s-line fs-15 rightArrow" style="padding-top: 2px;"></i>&nbsp;
                    @for ( item of breadcrumbItems; track $index) {
                    <ng-container>
                        <li class="breadcrumb-item pt-1" [ngClass]="{'active': item.active == true}">{{ item.label }}
                        </li>
                    </ng-container>
                    }
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->