.success-msg-detail p{
    font-weight: 400;
    margin: 0px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 21px;
}

.deal{
    margin-top: 0;
}

.btn-no{
    background-color: #DFDFDF; 
     font-size: 16px;
      font-weight: 400;
       border-radius: 10px; 
       padding: 10px 15px 10px 15px;
}

.btn-yes{
    background-color: #233B77;
    font-size: 16px;
    font-weight: 400;
     border-radius: 10px; 
     padding: 10px 15px 10px 15px; 
     gap:11px ;
     color: white;
}