<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 style="color: #39383A; font-weight: 500; font-size: 28px;">My Favourite Suppliers</h2>
        <p style="font-weight: 400; font-size: 16px;">Check All Your Favourite Suppliers</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card p-4" style="border-radius: 15px; border: 1px solid #0000001A; height: auto;">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-sm-8 col-12">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="./../../../../assets/supplier_naing_shang.png"
                                style="border-radius: 30px; width: 48px; height: 48px;" alt="">
                        </div>
                        <div class="col-auto">
                            <p style="font-size: 18px; color: #4F585E;font-weight: 400;">Naing Shang Pin Food Co.Ltd
                                <img src="./../../../../assets/supplier_blue_tick.png" width="17px" height="17px"
                                    alt=""><br>
                                <span style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                    <img src="./../../../../assets/supplier_china_flag.png" width="24px" height="18px"
                                        alt="">
                                    China
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <p style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                Company Category * <br>
                                <span style="font-size: 16px; color: #4F585E;font-weight: 500;">Private Enterprise</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <p style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                Products Category * <br>
                                <span style="font-size: 16px; color: #4F585E;font-weight: 500;">Meat, Processed food</span>
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                            <p style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                ISO9001 * <br>
                                <span style="font-size: 16px; color: #4F585E;font-weight: 500;">Yes</span>
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <p style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                Popular products<br>
                                <span style="font-size: 16px; color: #4F585E;font-weight: 500;">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="card mt-1 p-1 mx-1" style="width: 59px; height: 35px;">
                                                <a class="mx-auto cursor-pointer" style="color:#4F585E; font-size: 14px;">Apple</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="card mt-1 p-1 mx-1" style="width: 59px; height: 35px;">
                                                <a class="mx-auto cursor-pointer" style="color:#4F585E; font-size: 14px;">Grapes</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="card mt-1 p-1 mx-1" style="width: 59px; height: 35px;">
                                                <a class="mx-auto cursor-pointer" style="color:#4F585E; font-size: 14px;">Orange</a>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt-3">
                    <button class="btn w-100"
                        style="background-color: #233B77; color: white; font-size: 14px; font-weight: 400; border-radius: 10px;">
                        <img src="./../../../../assets/product_view_details.png" style="width: 24px; height: 24px;"
                            alt="">
                        <span>View Details</span>
                    </button>
                    <button class="btn mt-3 w-100"
                        style="background-color: #FE3744; color: white; font-size: 14px; font-weight: 400; border-radius: 10px;">
                        <img src="./../../../../assets/product_remove.png" style="width: 24px; height: 24px;" alt="">
                        Remove
                    </button>
                </div>
            </div>
        </div>
        <div class="card p-4" style="border-radius: 15px; border: 1px solid #0000001A; height: auto;">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-sm-8 col-12">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="./../../../../assets/supplier_maniland.png"
                                style="border-radius: 30px; width: 48px; height: 48px;" alt="">
                        </div>
                        <div class="col-auto">
                            <p style="font-size: 18px; color: #4F585E;font-weight: 400;">Maniland Fruits & Co.
                                <img src="./../../../../assets/supplier_blue_tick.png" width="17px" height="17px"
                                    alt=""><br>
                                <span style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                    <img src="./../../../../assets/supplier_china_flag.png" width="24px" height="18px"
                                        alt="">
                                    China
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <p style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                Company Category * <br>
                                <span style="font-size: 16px; color: #4F585E;font-weight: 500;">Private Enterprise</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <p style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                Products Category * <br>
                                <span style="font-size: 16px; color: #4F585E;font-weight: 500;">Meat, Processed food</span>
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                            <p style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                ISO9001 * <br>
                                <span style="font-size: 16px; color: #4F585E;font-weight: 500;">Yes</span>
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <p style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                Popular products<br>
                                <span style="font-size: 16px; color: #4F585E;font-weight: 500;">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="card mt-1 p-1 mx-1" style="width: 59px; height: 35px;">
                                                <a class="mx-auto cursor-pointer" style="color:#4F585E; font-size: 14px;">Apple</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="card mt-1 p-1 mx-1" style="width: 59px; height: 35px;">
                                                <a class="mx-auto cursor-pointer" style="color:#4F585E; font-size: 14px;">Grapes</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="card mt-1 p-1 mx-1" style="width: 59px; height: 35px;">
                                                <a class="mx-auto cursor-pointer" style="color:#4F585E; font-size: 14px;">Orange</a>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt-3">
                    <button class="btn w-100"
                        style="background-color: #233B77; color: white; font-size: 14px; font-weight: 400; border-radius: 10px;">
                        <img src="./../../../../assets/product_view_details.png" style="width: 24px; height: 24px;"
                            alt="">
                            <span>View Details</span>
                    </button>
                    <button class="btn mt-3 w-100"
                        style="background-color: #FE3744; color: white; font-size: 14px; font-weight: 400; border-radius: 10px;">
                        <img src="./../../../../assets/product_remove.png" style="width: 24px; height: 24px;" alt="">
                        Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>