<!-- <div class="row">
    <div class="col-6">
        <h1 style="color: #3C4150; font-weight: 500;">Welcome to <br> Transparent food</h1>
        <div class="row d-flex justify-content-center mt-3">
            <div>
                <img class="mb-3" src="./../../../../assets/home_supplier.png" alt="">
                <span class="ms-3" style="font-size: 26px;"><b>20k +</b></span>
                <span class="ms-2 mb-3" style="color: gray; font-size: 20px;"> Suppliers</span>
                <span class="ms-2" style="color: lightgray;font-size: 35px;">|</span>

                <img class="mb-3 ms-3" src="./../../../../assets/home_retailer.png" alt="">
                <span class="ms-3 mb-1" style="font-size: 26px;"><b>35k +</b></span>
                <span class="ms-2 mb-4" style="color: gray; font-size: 20px;"> Retailers</span>
                <span class="ms-2" style="color: lightgray;font-size: 35px;">|</span>

                <img class="mb-3 ms-3" src="./../../../../assets/home_countries.png" alt="">
                <span class="ms-3" style="font-size: 26px;"><b>120</b></span>
                <span class="ms-2 mb-4" style="color: gray; font-size: 20px;"> Countries</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card" style="width: 550px; height: 68px; border-radius: 15px;">
                <div class="row">
                    <div class="col-8 mt-3">
                        <input class="form-control" type="search" placeholder="Search here..."
                            style="border: none;background: transparent;">
                    </div>
                    <div class="col-4 mt-2 text-end">
                        <button class="btn btn-primary"
                            style="width: 125px; height: 54px; border-radius: 10px; font-size: 16px;">
                            <img class="me-1" src="./../../../../assets/home_search.png" alt="">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <h4 style="color: #3C4150;">Trending Now</h4>
            <div class="row">
                <div class="card mt-1 p-2" style="width: 59px; height: 35px; margin-right: 0;">
                    <a class="mx-auto cursor-pointer" style="color:#233B77; font-size: 14px;">Apple</a>
                </div>
                <div class="card mt-1 ms-2 p-2" style="width: 59px; height: 35px; margin-right: 0;">
                    <a class="mx-auto cursor-pointer" style="color:#233B77; font-size: 14px;">Onion</a>
                </div>
                <div class="card mt-1 ms-2 p-2" style="width: 59px; height: 35px; margin-right: 0;">
                    <a class="mx-auto cursor-pointer" style="color:#233B77; font-size: 14px;">Ginger</a>
                </div>
                <div class="card mt-1 ms-2 p-2" style="width: 59px; height: 35px; margin-right: 0;">
                    <a class="mx-auto cursor-pointer" style="color:#233B77; font-size: 14px;">Rice</a>
                </div>
                <div class="card mt-1 ms-2 p-2" style="width: 59px; height: 35px; margin-right: 0;">
                    <a class="mx-auto cursor-pointer" style="color:#233B77; font-size: 14px;">Grain</a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="card cursor-pointer"
                style="background: transparent; width: 350px; height: 86px; border-radius: 20px; border:1px solid #233B77;">
                <div class="row">
                    <div class="col-2">
                        <img class="mt-3 ms-2" src="./../../../../assets/home_environment.png" alt="">
                    </div>
                    <div class="col-8 ms-3 mt-4">
                        <a style="color: #233B77; font-size: 14px;"><b>Click here to know our <br>
                                Environmental Sustainability</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>

    <div class="row mt-3">
        <div class="col-2 ">
            <div class="card p-1" style="width: 221px; height: 185px; border-radius: 15px;">
                <img class="mx-auto mt-2" style="width: 107px; height: 57px;" src="./../../../../assets/home_food.png"
                    alt="">
                <p class="mx-auto mt-2" style="font-size: 18px;"><b>Processed Food</b></p>
                <div class="row">
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_vol.png" alt="">
                        <p style="font-size: 14px;"><b>300MT</b> <br><span
                                style="font-size: 12px; color: gray;">Volume</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_value.png" alt="">
                        <p style="font-size: 14px;"><b>$3.5B</b> <br><span
                                style="font-size: 12px; color: gray;">Value</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_supply.png" alt="">
                        <p style="font-size: 14px;"><b>2340</b> <br><span
                                style="font-size: 12px; color: gray;">Supplier</span> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card p-1" style="width: 221px; height: 185px; border-radius: 15px;">
                <img class="mx-auto mt-2" style="width: 107px; height: 57px;" src="./../../../../assets/home_dairy.png"
                    alt="">
                <p class="mx-auto mt-2" style="font-size: 18px;"><b>Dairy & Eggs</b></p>
                <div class="row">
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_vol.png" alt="">
                        <p style="font-size: 14px;"><b>300MT</b> <br><span
                                style="font-size: 12px; color: gray;">Volume</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_value.png" alt="">
                        <p style="font-size: 14px;"><b>$3.5B</b> <br><span
                                style="font-size: 12px; color: gray;">Value</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_supply.png" alt="">
                        <p style="font-size: 14px;"><b>2340</b> <br><span
                                style="font-size: 12px; color: gray;">Supplier</span> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card p-1" style="width: 221px; height: 185px; border-radius: 15px;">
                <img class="mx-auto mt-2" style="width: 107px; height: 57px;" src="./../../../../assets/home_meat.png"
                    alt="">
                <p class="mx-auto mt-2" style="font-size: 18px;"><b>Meat & Poultry</b></p>
                <div class="row">
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_vol.png" alt="">
                        <p style="font-size: 14px;"><b>300MT</b> <br><span
                                style="font-size: 12px; color: gray;">Volume</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_value.png" alt="">
                        <p style="font-size: 14px;"><b>$3.5B</b> <br><span
                                style="font-size: 12px; color: gray;">Value</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_supply.png" alt="">
                        <p style="font-size: 14px;"><b>2340</b> <br><span
                                style="font-size: 12px; color: gray;">Supplier</span> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card p-1" style="width: 221px; height: 185px; border-radius: 15px;">
                <img class="mx-auto mt-2" style="width: 107px; height: 57px;" src="./../../../../assets/home_fruit.png"
                    alt="">
                <p class="mx-auto mt-2" style="font-size: 18px;"><b>Fruits & Vegetables</b></p>
                <div class="row">
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_vol.png" alt="">
                        <p style="font-size: 14px;"><b>300MT</b> <br><span
                                style="font-size: 12px; color: gray;">Volume</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_value.png" alt="">
                        <p style="font-size: 14px;"><b>$3.5B</b> <br><span
                                style="font-size: 12px; color: gray;">Value</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_supply.png" alt="">
                        <p style="font-size: 14px;"><b>2340</b> <br><span
                                style="font-size: 12px; color: gray;">Supplier</span> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 ">
            <div class="card p-1" style="width: 221px; height: 185px; border-radius: 15px;">
                <img class="mx-auto mt-2" style="width: 107px; height: 57px;" src="./../../../../assets/home_fish.png"
                    alt="">
                <p class="mx-auto mt-2" style="font-size: 18px;"><b>Fish</b></p>
                <div class="row">
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_vol.png" alt="">
                        <p style="font-size: 14px;"><b>300MT</b> <br><span
                                style="font-size: 12px; color: gray;">Volume</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_value.png" alt="">
                        <p style="font-size: 14px;"><b>$3.5B</b> <br><span
                                style="font-size: 12px; color: gray;">Value</span> </p>
                    </div>
                    <div class="col-4">
                        <img style="width: 20px; height: 20px;" src="./../../../../assets/home_supply.png" alt="">
                        <p style="font-size: 14px;"><b>2340</b> <br><span
                                style="font-size: 12px; color: gray;">Supplier</span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->