<div class="row mt-3">
    <div class="col-12 col-md-6">
        <p style="font-size: 30px; font-weight: 500; color: #3C4150;">
            INDIA
            <img src="./../../../../assets/country_product-details_india.png" class="img-fluid" alt="">
        </p>
        <div class="row mt-2">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let card of cards.slice(0, 2); let i = index">
                    <div class="card p-1" [ngClass]="{ 'selected-card': selectedCardIndex === i }"
                        (click)="selectCard(i)"
                        style="background-color: rgba(255, 255, 255, 0.5);; width: 100%; max-width: 221px; height: auto; border-radius: 15px; border: 2px solid #A4BAF033; cursor: pointer; z-index: 1002;">
                        <img class="mx-auto mt-2" style="width: 107px; height: 57px;" [src]="card.image" alt="" />
                        <img *ngIf="selectedCardIndex === i" class="tick-icon"
                            src="./../../../../assets/country_product_details_blue_tick.png" alt="Selected" />
                        <p class="mx-auto mt-2" style="font-size: 18px;"><b>{{ card.title }}</b></p>
                        <div class="row">
                            <div class="col-4">
                                <img style="width: 20px; height: 20px;" src="./../../../../assets/home_vol.png"
                                    alt="" />
                                <p style="font-size: 14px;">
                                    <b>{{ card.volume }}</b>
                                    <br /><span style="font-size: 12px; color: gray;">Volume</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img style="width: 20px; height: 20px;" src="./../../../../assets/home_value.png"
                                    alt="" />
                                <p style="font-size: 14px;">
                                    <b>{{ card.value }}</b>
                                    <br /><span style="font-size: 12px; color: gray;">Value</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img style="width: 20px; height: 20px;" src="./../../../../assets/home_supply.png"
                                    alt="" />
                                <p style="font-size: 14px;">
                                    <b>{{ card.suppliers }}</b>
                                    <br /><span style="font-size: 12px; color: gray;">Supplier</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let card of cards.slice(2, 5); let i = index">
                    <div class="card p-1" [ngClass]="{ 'selected-card': selectedCardIndex === (i+2) }"
                        (click)="selectCard(i+2)"
                        style="background-color: rgba(255, 255, 255, 0.5); width: 100%; max-width: 221px; height: auto; border-radius: 15px; border: 2px solid #A4BAF033; cursor: pointer;z-index: 1002;">
                        <img class="mx-auto mt-2" style="width: 107px; height: 57px;" [src]="card.image" alt="" />
                        <img *ngIf="selectedCardIndex === (i+2)" class="tick-icon"
                            src="./../../../../assets/country_product_details_blue_tick.png" alt="Selected" />
                        <p class="mx-auto mt-2" style="font-size: 18px;"><b>{{ card.title }}</b></p>
                        <div class="row">
                            <div class="col-4">
                                <img style="width: 20px; height: 20px;" src="./../../../../assets/home_vol.png"
                                    alt="" />
                                <p style="font-size: 14px;">
                                    <b>{{ card.volume }}</b>
                                    <br /><span style="font-size: 12px; color: gray;">Volume</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img style="width: 20px; height: 20px;" src="./../../../../assets/home_value.png"
                                    alt="" />
                                <p style="font-size: 14px;">
                                    <b>{{ card.value }}</b>
                                    <br /><span style="font-size: 12px; color: gray;">Value</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img style="width: 20px; height: 20px;" src="./../../../../assets/home_supply.png"
                                    alt="" />
                                <p style="font-size: 14px;">
                                    <b>{{ card.suppliers }}</b>
                                    <br /><span style="font-size: 12px; color: gray;">Supplier</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6" style="position: relative;">
        <!-- Country Map -->
        <img src="./../../../assets/home_earth_subtract_final.png"
        style="width: auto; height: auto; position: absolute; top: 45%; left: 58%; transform: translate(-50%, -50%); z-index: auto;">
        <div id="chartdiv" style="width: 100%; height: 500px;"></div>
        <div id="popover-container" *ngIf="popoverVisible" [style.top.px]="popoverPosition.top" [style.left.px]="popoverPosition.left"
            class="popover-container">
            <div class="popover-arrow"></div>
            <div class="popover-content">
                <div class="row mt-2">
                    <p style="font-weight: 600; font-size: 26px; color: #3C4150;">{{popoverData?.state}}</p>
                    <p style="font-size: 16px; font-weight: 400; color: #3C4150;">Categories * <br>
                        <span style="font-size: 18px; font-weight: 600; color: #000000;">Fruits & Vegitables</span>
                    </p>
                    <div class="row">
                        <div class="col-4">
                            <img style="width: 20px; height: 20px;" src="./../../../../assets/home_vol.png"
                                alt="" />
                            <p style="font-size: 14px;">
                                <b>300MT</b>
                                <br /><span style="font-size: 12px; color: gray;">Volume</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <img style="width: 20px; height: 20px;" src="./../../../../assets/home_value.png"
                                alt="" />
                            <p style="font-size: 14px;">
                                <b>$3.5B</b>
                                <br /><span style="font-size: 12px; color: gray;">Value</span>
                            </p>
                        </div>
                        <div class="col-4">
                            <img style="width: 20px; height: 20px;" src="./../../../../assets/home_supply.png"
                                alt="" />
                            <p style="font-size: 14px;">
                                <b>2340</b>
                                <br /><span style="font-size: 12px; color: gray;">Supplier</span>
                            </p>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <p style="font-weight: 500; font-size: 26px; color: #000000;">
        Optimize Your Search <br>
        <span style="font-weight: 400; font-size: 18px; color: #3C4150;">Use Filters to Find the Perfect Product</span>
    </p>
    <div class="col-12">
        <div class="card p-3" style="border-radius: 15px; border: 2px solid #A4BAF033;">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
                    <label style="font-size: 14px; color: #3C4150;">Category *</label>
                    <ng-select placeholder="Select Category" bindLabel="name" bindValue="id"
                        style="width: 100%; height:50px;"></ng-select>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
                    <label style="font-size: 14px; color: #3C4150;">Location *</label>
                    <ng-select [items]="countries" [searchable]="true" style="width: 100%; height:50px;"
                        [clearable]="false" bindLabel="name" bindValue="name" placeholder="Select Location"
                        formControlName="country">
                        <ng-template ng-option-tmp let-item="item">
                            <span>
                                <img [src]="item.flag" style="width: 28px; height: 18px;">
                                <b style="color: #4F585E; margin-left: 5px;">{{ item.name }}</b>
                            </span>
                        </ng-template>
                        <ng-template ng-label-tmp let-item="item">
                            <span>
                                <img [src]="item.flag" style="width: 28px; height: 18px; margin-right: 5px;">
                                <b style="color: #4F585E;">{{ item.name }}</b>
                            </span>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-2">
                    <label style="font-size: 14px; color: #3C4150;">Annual Capability *</label>
                    <ng-select placeholder="Select Annual Capability" bindLabel="name" bindValue="id"
                        style="width: 100%; height:50px;"></ng-select>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-4 mb-2">
                    <div class="row">
                        <label style="font-size: 14px; color: #3C4150;">Sustainability *</label>
                        <div class="col-sm-6 col-lg-6 col-md-6 mb-2">
                            <input style="width: 24px; height: 24px; color: #0063D8;" class="form-check-input"
                                type="radio" name="sendto" id="inlineRadio1" value="lowCarbon" />
                            <label class="form-check-label ms-1 mt-1" for="inlineRadio1"
                                style="font-size: 14px; font-weight: 400; color: #060C43;"><b>Low Carbon</b></label>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-md-6 mb-2">
                            <input style="width: 24px; height: 24px; color: #0063D8;" class="form-check-input"
                                type="radio" name="sendto" id="inlineRadio2" value="animalWelfare" />
                            <label class="form-check-label ms-1 mt-1" for="inlineRadio2"
                                style="font-size: 14px; font-weight: 400; color: #060C43;"><b>Animal Welfare</b></label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-2 text-end mb-2">
                    <button class="btn"
                        style="background-color: #233B77; color: white; font-size: 20px; font-weight: 400; border-radius: 10px; height: 69px;">
                        Search <img src="./../../../../assets/country_product_details_search.png" class="img-fluid"
                            alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-12 col-md-5">
        <p class="h2 font-weight-bold" style="font-weight: 500; font-size: 33px; color: #000000;">Top Suppliers</p>
        <p style="font-weight: 400; font-size: 18px; color: #3C4150;">Discover the Best Suppliers Tailored to Your
            Specific Criteria</p>
    </div>
    <div class="col-12 col-md-7 text-end">
        <p class="h2 font-weight-bold" style="font-weight: 500; font-size: 20px; color: #000000;"> Filter by Certificate
        </p>
        <button class="btn btn-outline-light" *ngFor="let step of steps; let i = index" [ngClass]="{
            'active-step': currentStep === i + 1,
            'inactive-step': currentStep !== i + 1
        }" (click)="goToStep(i + 1)" [style.width]="getWidth(i)"
            style="height: 40px; border-radius: 10px; font-size: 14px; margin-left: 5px;">

            <i *ngIf="currentStep > i + 1" class="fa-solid fa-circle-check" style="margin-right: 5px;"></i>
            {{ step }}
            <img *ngIf="currentStep === i + 1" src="./../../../assets/white_tick.png" width="20px" height="20px" alt="">
        </button>
    </div>
</div>
<div class="row mt-3">
    @for(item of topSupplierCards; track item.id){
    <div class="col-lg-3 col-md-6 mb-3">
        <div class="card p-3" style="border-radius: 15px; height: auto; border: 1px solid #0000001A;">
            <img [src]="item.imgSupplier" width="60px" height="60px" alt="">
            <p class="mt-2" style="color: #4F585E; font-size: 16px;">{{item.nameSupplier}}
                <img src="./../../../assets/supplier_blue_tick.png" class="img-fluid" alt="">
            </p>
            <p style="font-size: 16px; color: #4F585E;">
                <img src="./../../../assets/supplier_india_flag.png" class="img-fluid" alt="">
                <span class="ms-2">India</span>
            </p>
            <p style="font-size: 14px; color: #4F585E;">Company Category *
                <span style="font-size: 14px;color: #4F585E;"><b>Private Enterprise</b></span>
            </p>
            <p style="font-size: 14px; color: #4F585E;">Products Category *
                <span style="font-size: 14px;color: #4F585E;"><b>Meat, Processed food</b></span>
            </p>
            <p style="font-size: 14px; color: #4F585E;">ISO9001 *
                <span style="font-size: 14px;color: #4F585E;"><b>Yes</b></span>
            </p>
            <hr class="m-0 p-0">
            <p class="mt-1" style="color: #4F585E; font-size: 16px;">Popular products</p>
            <div class="row">
                <div class="col-auto">
                    <div class="card mt-1 p-2 mx-1" style="width: 100%; background-color: #F4F4F4;">
                        <a class="mx-auto cursor-pointer" style="color:#4F585E; font-size: 14px;"><b>Apple</b></a>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card mt-1 p-2 mx-1" style="width: 100%; background-color: #F4F4F4;">
                        <a class="mx-auto cursor-pointer" style="color:#4F585E; font-size: 14px;"><b>Grapes</b></a>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card mt-1 p-2 mx-1" style="width: 100%; background-color: #F4F4F4;">
                        <a class="mx-auto cursor-pointer" style="color:#4F585E; font-size: 14px;"><b>Orange</b></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-primary"
                        style="border-radius: 10px;width: 100%; height: 100%; font-size: 16px;">
                        Deal Now <img src="./../../../assets/supplier_deal_now_tick.png" class="img-fluid" alt="">
                    </button>
                </div>
                <div class="col-6">
                    <img src="./../../../assets/supplier_deal_now_home.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    }
</div>