<div class="row">
    <div class="col-12">
        <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
    </div>
</div>

<div class="row">
    <div class="col-12 mx-auto" [class.col-12]="isMobile" >
        @if(!this.isMobile){
            <img src="../../../../../assets/requested-prod/req-prod-header.png" class="img-fluid header-img" alt="">
        }
        <div class="card request-form" >
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <h4>Request Your Desired Products</h4>
                        <p>Let us know what products you'd like to see on our website, and
                            we'll do our best to add them for you!</p>
                    </div>
                </div>

               <form [formGroup]="formGroup">
                   <div class="req-form row mt-5">
                       <div class="col-xl-2 col-lg-2 col-md-2 mt-3">
                           <div class="form-group">
                            <label for="">Product name <span class="text-danger">*</span></label>
                            <input [class.is-invalid]="controlHasError('required','productName')" formControlName="productName" type="text" class="form-control">
                            <div class="invalid-feedback" *ngIf="controlHasError('required', 'productName')">
                                This field is required 
                            </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-2 col-md-2 mt-3">
                           <div class="form-group">
                            <label for="">Product Category<span class="text-danger">*</span></label>
                            <select  [class.is-invalid]="controlHasError('required','prodCategory')" formControlName="prodCategory" class="form-select" aria-label="Default select example">
                               <option selected>Fish</option>
                             </select>
                             <div class="invalid-feedback" *ngIf="controlHasError('required', 'prodCategory')">
                                This field is required 
                            </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-2 col-md-2 mt-3">
                           <div class="form-group">
                            <label for="">Required Quantity<span class="text-danger">*</span></label>
                            <select  [class.is-invalid]="controlHasError('required','reqQuantity')" formControlName="reqQuantity" class="form-select" aria-label="Default select example">
                               <option selected>1MT</option>
                               <option value="1">One</option>
                               <option value="2">Two</option>
                               <option value="3">Three</option>
                             </select>
                             <div class="invalid-feedback" *ngIf="controlHasError('required', 'reqQuantity')">
                                This field is required 
                            </div>
                           </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 col-md-3 mt-3">
                           <div class="form-group">
                            <label for="">Preferred Source Location<span class="text-danger">*</span></label>
                            <select  [class.is-invalid]="controlHasError('required','preferedLocation')" formControlName="preferedLocation" class="form-select" aria-label="Default select example">
                               <option selected>China</option>
                             </select>
                             <div class="invalid-feedback" *ngIf="controlHasError('required', 'preferedLocation')">
                                This field is required 
                            </div>
                           </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 col-md-3 mt-3">
                           <div class="form-group">
                            <label for="">Receiving Location<span class="text-danger">*</span></label>
                            <select  [class.is-invalid]="controlHasError('required','receiveLocation')" formControlName="receiveLocation" class="form-select" aria-label="Default select example">
                               <option selected>India</option>
                             </select>
                             <div class="invalid-feedback" *ngIf="controlHasError('required', 'receiveLocation')">
                                This field is required 
                            </div>
                           </div>
                       </div>
                       <div class="col-12 mt-3">
                           <label for="">Description / Additional Information<span class="text-danger">*</span></label>
                           <textarea [class.is-invalid]="controlHasError('required','description')" formControlName="description" name="description" class="form-control" placeholder="Type Here..." id=""></textarea>
                           <div class="invalid-feedback" *ngIf="controlHasError('required', 'description')">
                            This field is required 
                        </div>
                       </div>
                       <div class="col-12 mt-4">
                           <button class="btn btn-primary btn-custom">Submit Request</button>
                       </div>
                     
                   </div>
               </form>
            </div>
        </div>

    </div> 
</div>


   <!-- Featured Products -->
   <div class="row my-5">
    <div class="col-12 d-flex justify-content-between my-3">
        <span class="feature-heading">Similar products</span>
        <a class="see-all-btn cursor-pointer" (click)="goToAllProduct()">Sell All</a>
    </div>
    @for(item of ourProductList; track $index){
        @if($index > 7 && $index < 12){
            <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6 col-sm-6 ">
                <div class="card our-product-card">
                    <div class="row">
                        <div class="col-lg-12 text-end">
                            <button class="btn btn-light m-2 wish-btn" style="border-radius: 10px;" (click)="addToWishlist(item)">
                                @if(item.isWishlist===true){
                                    <img src="../../../assets/heart-filled.png" height="25" alt="">
                                }@else {
                                    <img src="../../../assets/wishlist-icon.png" height="25"  alt="">
                                }
                            </button>
                            <button class="btn btn-light m-2 wish-btn" style="border-radius: 10px;">
                                <img src="../../../assets/home_retailer.png" height="25" class="img-fluid" alt=""></button>
                        </div>
                        <div class="col-lg-12 " >
                            <div class="row mt-2">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center" style="height: 100px;">
                                    <img [src]="item?.imgUrl" class="img-fluid" alt="product-image">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="p-name">{{item?.name}}</div>
                                    <div class="p-price mt-2">{{item?.dealPrice}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-3">
                            <span class="cName">{{item?.companyName}}</span>&nbsp;
                            <img [src]="item.twitterBlueTagUrl" height="20" width="20" class="img-fluid" alt="">
                            <div>
                                <img [src]="item.flagUrl" height="20" width="20" class="img-fluid" alt=""><span
                                    class="supCountryName">{{item?.suppCountry}}</span>
                            </div>
                        </div>
        
                        <div class="col-lg-12 my-3 d-flex">
                            <button class="btn btn-primary btn-primary-custom w-100" (click)="dealNow(item)">Deal Now <img src="../../../assets/deal-now-btn.png" width="15" class="d-inline-block" alt=""></button>&nbsp;&nbsp;
                            <button class="btn btn-light btn-light-custom w-100" (click)="viewDetails(item)">View Detail <img src="../../../assets/view-details-btn.png" width="15" class="d-inline-block" alt=""></button>
                        </div>
        
                    </div>
        
                </div>
            </div>
        }
        }
</div>



