@import '../../../../styles';


.dashboard-chart{
 min-height: 355px  !important;
}
.dashboard-header h4{
    font-size: 28px;
    font-weight: 500;
    line-height: 30.8px;
}
.dashboard-header p{
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
}
.custom-label{
    opacity: 0.7;
}
.form-select ,.form-control{
    border-radius: 8px !important;
}

.card{
    border: 1px solid lightgray !important;
    border-radius: 15px;
}
.total-counts{
    font-weight: 500;
    font-size: 38px;
    line-height: 41.8px;
} 
.card-heading{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    opacity: 0.7;
    padding-top: 18px;
}

// recent deals row 
.recent-deals-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}
.see-all{
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    color: $theme-danger-color;
    text-decoration: underline;
}
.see-all:hover{
    color: rgb(248, 6, 6);
}

// deals card list 
.recent-deal-card{
   box-shadow: none !important;
}
.product-name{
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.9;
}
.name-line{
    opacity: 0.4;
    font-weight: 300;

}
.product-date-time{
    font-weight: 400;
    font-size: 12px;
    line-height: 13.2px;
    opacity: 0.5;
}
.totalWeightLabel{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    opacity: 0.5;
}
.totalWeight{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
}
