.truncate-cell {
    // display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines to show */
    overflow: hidden;
    max-width: 300px; /* Optional for table layout */
  }



  .table td, .table th {
    color: black;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #405189;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  ::ng-deep .ng-select .ng-dropdown-panel {
    background-color: #ffffff !important; /* Ensure a white background */
    border: 1px solid #ddd !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1) !important;
  }
  
  ::ng-deep .ng-select .ng-option {
    background-color: #f9f9f9 !important;
    color: #333 !important;
  }
  
  ::ng-deep .ng-select .ng-option:hover {
    background-color: #e0e0e0 !important;
  }
  
  ::ng-deep .ng-select .ng-option.selected {
    background-color: #d0f0c0 !important;
  }