<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 style="color: #39383A; font-weight: 500; font-size: 28px;">Add New Product</h2>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 col-md-4 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Product
            <span>*</span></label>
        <input type="text" class="form-control" placeholder="Product" value="Salted Duck"
            style="width: 100%; height: 40px;">
    </div>
    <div class="col-12 col-md-4 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Select Product Category
            <span>*</span></label>
            <select class="form-select" (change)="onSelectCat($event)" aria-label="Default select example">
                <option value="Dairy & Eggs">Dairy & Eggs</option>
                <option value="Processed Food">Processed Food</option>
                <option value="Meat & Poultry">Meat & Poultry</option>
                <option value="Fruits & Vegetables">Fruits & Vegetables</option>
                <option value="Fish">Fish</option>
              </select>
        <!-- < type="text" class="form-control" placeholder="Sub-Product"
            style="width: 100%; height: 40px;"> -->
    </div>
    <div class="col-12 col-md-4 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Manufacture Info
            <span>*</span></label>
        <input type="text" class="form-control" placeholder="Xinjiang ** Fruit Co.,Ltd." value="Xinjiang ** Fruit Co.,Ltd."
            style="width: 100%; height: 40px;">
    </div>
    <!-- <div class="col-12 col-md-4 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Price Range
            <span>*</span></label> 
        <input type="text" class="form-control" placeholder="RMB 5.0-25.9 per KG" value="RMB 5.0-25.9 per KG"
            style="width: 100%; height: 40px;">
    </div> -->
    <div class="col-12 col-md-4 mb-3">
        <div class="row">
            <div class="col-md-6">
                <label style="font-size: 14px; color: #4F585E;">Min Price
                    <span>*</span></label> 
                <input type="text" class="form-control" placeholder="" value="RMB 5.0 per KG"
                    style="width: 100%; height: 40px;">
            </div>
            <div class="col-md-6">
                <label style="font-size: 14px; color: #4F585E;">Max Price
                    <span>*</span></label> 
                <input type="text" class="form-control" placeholder="" value="RMB 25.9 per KG"
                    style="width: 100%; height: 40px;">
            </div>
        </div>
       
    </div>
    <div class="col-12 col-md-4 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Minimum Wholesale Quantity
            <span>*</span></label>
        <input type="text" class="form-control" placeholder="1KG" value="1KG"
            style="width: 100%; height: 40px;">
    </div>
    <div class="col-12 col-md-4 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Origin
            <span>*</span></label>
        <input type="text" class="form-control" placeholder="Xinjiang" value="Xinjiang"
            style="width: 100%; height: 40px;">
    </div>
    <div class="col-12 col-md-4 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Logistics
            <span>*</span></label>
        <input type="text" class="form-control" placeholder="Room Temp." value="Room Temp."
            style="width: 100%; height: 40px;">
    </div>
    <div class="col-12 col-md-4 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Specification/Packing
            <span>*</span></label>
        <input type="text" class="form-control" placeholder="Box" value="Box"
            style="width: 100%; height: 40px;">
    </div>
    <div class="col-12 col-md-4 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Variety
            <span>*</span></label>
        <input type="text" class="form-control" placeholder="Red Fuji" value="Red Fuji"
            style="width: 100%; height: 40px;">
    </div>

    <div class="col-12 col-md-4 mb-3">
        <div class="form-group">
            <label style="font-size: 14px; color: #4F585E;">Test Reports <span>*</span></label>
            <div class="row">
                <div class="col-4 col-md-4">
                    <input type="file" class="form-control" id="productImage" name="productImage" placeholder="Choose File"
                        (change)="onFileSelected($event)"
                        style="width: 100px; height: 40px; border-radius: 10px;">
                </div>
                <div class="col-4 col-md-4 mt-md-0">
                    <button class="btn w-10 h-auto"
                        style="border-radius: 10px; background-color: #233B77; color: white; font-size: 14px;">Upload</button>
                </div>
                <div class="col-4 col-md-4 mt-2">
                    <p style="font-weight: 500; color: #4F585E;"><b>{{ selectedFile?.name }}</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
        <div class="form-group">
            <label style="font-size: 14px; color: #4F585E;">Certificate <span>*</span></label>
            <div class="row">
                <div class="col-4 col-md-4">
                    <input type="file" class="form-control" id="productImage" name="productImage" placeholder="Choose File"
                        (change)="onFileSelected($event)"
                        style="width: 100px; height: 40px; border-radius: 10px;">
                </div>
                <div class="col-4 col-md-4 mt-md-0">
                    <button class="btn w-10 h-auto"
                        style="border-radius: 10px; background-color: #233B77; color: white; font-size: 14px;">Upload</button>
                </div>
                <div class="col-4 col-md-4 mt-2">
                    <p style="font-weight: 500; color: #4F585E;"><b>{{ selectedFile?.name }}</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <div class="form-group">
            <label style="font-size: 14px; color: #4F585E;">Product Picture and videos<span>*</span></label>
            <div class="row">
                <div class="col-4 col-md-4">
                    <input type="file" class="form-control" id="productImage" name="productImage" placeholder="Choose File"
                        (change)="onFileSelected($event)"
                        style="width: 100px; height: 40px; border-radius: 10px;">
                </div>
                <div class="col-4 col-md-4 mt-md-0">
                    <button class="btn w-10 h-auto"
                        style="border-radius: 10px; background-color: #233B77; color: white; font-size: 14px;">Upload</button>
                </div>
                <div class="col-4 col-md-4 mt-2">
                    <p style="font-weight: 500; color: #4F585E;"><b>{{ selectedFile?.name }}</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 mb-3">
        <label style="font-size: 14px; color: #4F585E;">Product Description
            <span>*</span></label>
            <textarea name="" id="" placeholder="Product Description" rows="4" class="form-control"></textarea>
     
    </div>

    @if(showArrayForm){
        <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
            <div formArrayName="ingredients">
              <div *ngFor="let group of ingredients.controls; let i = index" [formGroupName]="i">
                <div class="row mt-2">
                    <div class="col-md-4">   
                        <input
                        type="text" class="form-control"
                        placeholder="Ingredient"
                        formControlName="ingredient"
                      />
                    </div>
                    <div class="col-md-4">
                        <input
                        type="number" class="form-control"
                        placeholder="Percentage"
                        formControlName="percentage"
                      />
                    </div>
                    <div class="col-md-4">
                        &nbsp;<button type="btn text-center"  style="background-color: #e3210f;width: 100%; max-width: 80px; height: 35px; font-size: 13px; border-radius: 10px; color: white; border: none;" (click)="removeIngredient(i)">Remove</button>
                    </div>
                </div>
               
              </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <button type="btn text-center mt-2"  style="background-color: #233B77;width: 100%; max-width: 100px; height: 30px; font-size: 13px; border-radius: 10px; color: white; border: none;" (click)="addIngredient()">Add</button>
                </div>
            </div>
           
            <!-- <button type="submit">Submit</button> -->
          </form>
    }
      
      <!-- <div>
        <h3>Form Value:</h3>
        <pre>{{ ingredientForm.value | json }}</pre>
      </div> -->
      
    <div class="col-12 col-md-4 mb-3">
        <div class="row mt-3">
            <div class="col-12">
                <button class="btn text-center"
                    style="background-color: #233B77;width: 100%; max-width: 144px; height: 45px; font-size: 14px; border-radius: 10px; color: white;">
                    Add Product <img src="./../../../assets/plus.png" style="width: 20px; height: 20px;" alt="">
                </button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="card p-3" style="border-radius: 15px;">
    <div class="row mt-3">
        <div class="col-12 col-md-4 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Product
                <span>*</span></label>
            <input type="text" class="form-control" placeholder="Product" value="Salted Duck"
                style="width: 100%; height: 40px;">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Select Product Category
                <span>*</span></label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Fruit</option>
                  </select>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Manufacture Info
                <span>*</span></label>
            <input type="text" class="form-control" placeholder="Xinjiang ** Fruit Co.,Ltd." value="Xinjiang ** Fruit Co.,Ltd."
                style="width: 100%; height: 40px;">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Price Range
                <span>*</span></label> 
            <input type="text" class="form-control" placeholder="RMB 5.0-25.9 per KG" value="RMB 5.0-25.9 per KG"
                style="width: 100%; height: 40px;">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Minimum Wholesale Quantity
                <span>*</span></label>
            <input type="text" class="form-control" placeholder="1KG" value="1KG"
                style="width: 100%; height: 40px;">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Origin
                <span>*</span></label>
            <input type="text" class="form-control" placeholder="Xinjiang" value="Xinjiang"
                style="width: 100%; height: 40px;">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Logistics
                <span>*</span></label>
            <input type="text" class="form-control" placeholder="Room Temp." value="Room Temp."
                style="width: 100%; height: 40px;">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Specification/Packing
                <span>*</span></label>
            <input type="text" class="form-control" placeholder="Box" value="Box"
                style="width: 100%; height: 40px;">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Variety
                <span>*</span></label>
            <input type="text" class="form-control" placeholder="Red Fuji" value="Red Fuji"
                style="width: 100%; height: 40px;">
        </div>

        <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
                <label style="font-size: 14px; color: #4F585E;">Test Reports <span>*</span></label>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <input type="file" class="form-control" id="productImage" name="productImage" placeholder="Choose File"
                            (change)="onFileSelected($event)"
                            style="width: 100px; height: 40px; border-radius: 10px;">
                    </div>
                    <div class="col-6 col-md-4 mt-md-0">
                        <button class="btn w-10 h-auto"
                            style="border-radius: 10px; background-color: #233B77; color: white; font-size: 14px;">Upload</button>
                    </div>
                    <div class="col-6 col-md-4 mt-2">
                        <p style="font-weight: 500; color: #4F585E;"><b>{{ selectedFile?.name }}</b></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
                <label style="font-size: 14px; color: #4F585E;">Certificate <span>*</span></label>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <input type="file" class="form-control" id="productImage" name="productImage" placeholder="Choose File"
                            (change)="onFileSelected($event)"
                            style="width: 100px; height: 40px; border-radius: 10px;">
                    </div>
                    <div class="col-6 col-md-4 mt-md-0">
                        <button class="btn w-10 h-auto"
                            style="border-radius: 10px; background-color: #233B77; color: white; font-size: 14px;">Upload</button>
                    </div>
                    <div class="col-6 col-md-4 mt-2">
                        <p style="font-weight: 500; color: #4F585E;"><b>{{ selectedFile?.name }}</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="form-group">
                <label style="font-size: 14px; color: #4F585E;">Product Picture and videos<span>*</span>  <span style="opacity: 0.7;">(For Img Min size - 1MB, Vid - under 5MB)</span> </label>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <input type="file" class="form-control" id="productImage" name="productImage" placeholder="Choose File"
                            (change)="onFileSelected($event)"
                            style="width: 100px; height: 40px; border-radius: 10px;">
                    </div>
                    <div class="col-6 col-md-4 mt-md-0">
                        <button class="btn w-10 h-auto"
                            style="border-radius: 10px; background-color: #233B77; color: white; font-size: 14px;">Upload</button>
                    </div>
                    <div class="col-6 col-md-4 mt-2">
                        <p style="font-weight: 500; color: #4F585E;"><b>{{ selectedFile?.name }}</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 mb-3">
            <label style="font-size: 14px; color: #4F585E;">Product Description
                <span>*</span></label>
                <textarea name="" id="" placeholder="Product Description" rows="4" class="form-control"></textarea>
         
        </div>
        <div class="col-12 col-md-4 mb-3">
           
        </div>
    </div>
   
        <div class="col-4 d-none d-md-block">

        </div>
    <div class="row mt-3">
        <div class="col-12">
            <button class="btn text-center"
                style="background-color: #233B77;width: 100%; max-width: 144px; height: 45px; font-size: 14px; border-radius: 10px; color: white;">
                Add Product <img src="./../../../assets/plus.png" style="width: 20px; height: 20px;" alt="">
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <h4 class="mt-4" style="color: #3C4150;">Products</h4>
            <div class="table-responsive">
                <table class="table mt-3">
                    <thead class="table-light">
                        <tr style="color: #4F585E; font-size: 14px;">
                            <th scope="col">Product</th>
                            <th scope="col">Sub-Product</th>
                            <th scope="col">Ingredients Info</th>
                            <th scope="col">Manufacture Info</th>
                            <th scope="col">Origin Info</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="color: #4F585E; font-size: 14px;">
                            <td>Salted Duck</td>
                            <td><img src="../../assets/Group 40941.png" alt="" width="50"></td>
                            <td>Duck</td>
                            <td>Jiangsu Xinyang Plant</td>
                            <td>Xinyang Base, Hanyauna Base</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm ">
                                    <img src="../../assets/Frame (2).png" alt=""> Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm ms-3">
                                    <img src="../../assets/Frame (3).png" alt=""> Delete
                                </button>
                            </td>
                        </tr>
                        <tr style="color: #4F585E; font-size: 14px;">
                            <td></td>
                            <td><img src="../../assets/Group 40941.png" alt="" width="50"></td>
                            <td>Salt</td>
                            <td>Jiangsu Salt Group</td>
                            <td>Xinyang Base, Hanyauna Base</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm ">
                                    <img src="../../assets/Frame (2).png" alt=""> Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm ms-3">
                                    <img src="../../assets/Frame (3).png" alt=""> Delete
                                </button>
                            </td>
                        </tr>
                        <tr style="color: #4F585E; font-size: 14px;">
                            <td></td>
                            <td><img src="../../assets/Group 40941.png" alt="" width="50"></td>
                            <td>Pepper</td>
                            <td>Sinchun Hanilian Plant</td>
                            <td>Xinyang Base, Hanyauna Base</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm ">
                                    <img src="../../assets/Frame (2).png" alt=""> Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm ms-3">
                                    <img src="../../assets/Frame (3).png" alt=""> Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  -->