<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 style="color: #39383A; font-weight: 500; font-size: 28px;">My Products</h2>
        <p style="font-weight: 400; font-size: 16px;">Add or modify Your  Products</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-xxl-12 col-sm-12 col-md-12 col-lg-12 col-12">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 mt-2">
                <div class="card p-3" style="border: 1px solid #0000001A; border-radius: 15px; height: 100%;">
                    <div class="row">
                        <div class="col-auto">
                            <img src="./../../../../assets/product_banana.png" style="width: 100%; height: auto;"
                                alt="">
                        </div>
                       
                        <div class="col-auto">
                            <p style="font-size: 18px; color: #4F585E;font-weight: 400; margin-top: 20px;">Banana
                                <br>
                                <span style="font-size: 20px; color: #4F585E;font-weight: 500;">$ 2,290 MT</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="" class="desc">Description</label>
                            <p>
                                Fresh, premium-quality bananas available in bulk—perfect for wholesale orders and retailers looking to stock up on this nutritious, popular fruit.
                            </p>
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col-4">
                            <button class="btn text-white d-flex"
                                style="  font-size: 16px; font-weight: 400; border-radius: 10px; background-color: #233B77; color: white;">
                                <img src="./../../../../assets/product_view_details.png" style="width: 24px; height: 24px;"
                                    alt="">
                                Edit
                            </button>
                        </div>
                        <div class="col-3">
                            <button class="btn d-flex"
                                style="background-color: #233B77; color: white; font-size: 16px; font-weight: 400; border-radius: 10px;">
                                <img src="./../../../../assets/icons/view-details-eye-icon.png"
                                    style="width: 24px; height: 24px;" alt="">
                                
                            </button>
                        </div>
                        <div class="col-5">
                            <button class="btn text-white d-flex"
                                style="  font-size: 16px; font-weight: 400; border-radius: 10px;  background-color: rgba(254, 55, 68, 1); color: white;">
                                <img src="./../../../../assets/product_remove.png" style="width: 24px; height: 24px;"
                                    alt="">
                                Delete
                            </button>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 mt-2">
                <div class="card p-3" style="border: 1px solid #0000001A; border-radius: 15px; height: 100%;">
                    <div class="row">
                        <div class="col-auto">
                            <img src="./../../../../assets/product_chicken.png" style="width: 100%; height: auto;"
                                alt="">
                        </div>
                        <div class="col-auto">
                            <p style="font-size: 18px; color: #4F585E;font-weight: 400; margin-top: 20px;">Chicken
                                <br>
                                <span style="font-size: 20px; color: #4F585E;font-weight: 500;">$ 2,290 MT</span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <label for="" class="desc">Description</label>
                            <p>
                                Fresh, premium-quality bananas available in bulk—perfect for wholesale orders and retailers looking to stock up on this nutritious, popular fruit.
                            </p>
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col-4">
                            <button class="btn text-white d-flex"
                                style="  font-size: 16px; font-weight: 400; border-radius: 10px; background-color: #233B77; color: white;">
                                <img src="./../../../../assets/product_view_details.png" style="width: 24px; height: 24px;"
                                    alt="">
                                Edit
                            </button>
                        </div>
                        <div class="col-3">
                            <button class="btn d-flex"
                                style="background-color: #233B77; color: white; font-size: 16px; font-weight: 400; border-radius: 10px;">
                                <img src="./../../../../assets/icons/view-details-eye-icon.png"
                                    style="width: 24px; height: 24px;" alt="">
                                
                            </button>
                        </div>
                        <div class="col-5">
                            <button class="btn text-white d-flex"
                                style="  font-size: 16px; font-weight: 400; border-radius: 10px;  background-color: rgba(254, 55, 68, 1); color: white;">
                                <img src="./../../../../assets/product_remove.png" style="width: 24px; height: 24px;"
                                    alt="">
                                Delete
                            </button>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 mt-2">
                <div class="card p-3" style="border: 1px solid #0000001A; border-radius: 15px; height: 100%;">
                    <div class="row">
                        <div class="col-auto">
                            <img src="./../../../../assets/product_muskmelon.png" style="width: 100%; height: auto;"
                                alt="">
                        </div>
                        <div class="col-auto">
                            <p style="font-size: 18px; color: #4F585E;font-weight: 400; margin-top: 20px;">Muskmelon
                                <br>
                                <span style="font-size: 20px; color: #4F585E;font-weight: 500;">$ 2,290 MT</span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <label for="" class="desc">Description</label>
                            <p>
                                Fresh, premium-quality bananas available in bulk—perfect for wholesale orders and retailers looking to stock up on this nutritious, popular fruit.
                            </p>
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col-4">
                            <button class="btn text-white d-flex"
                                style="  font-size: 16px; font-weight: 400; border-radius: 10px; background-color: #233B77; color: white;">
                                <img src="./../../../../assets/product_view_details.png" style="width: 24px; height: 24px;"
                                    alt="">
                                Edit
                            </button>
                        </div>
                        <div class="col-3">
                            <button class="btn d-flex"
                                style="background-color: #233B77; color: white; font-size: 16px; font-weight: 400; border-radius: 10px;">
                                <img src="./../../../../assets/icons/view-details-eye-icon.png"
                                    style="width: 24px; height: 24px;" alt="">
                                
                            </button>
                        </div>
                        <div class="col-5">
                            <button class="btn text-white d-flex"
                                style="  font-size: 16px; font-weight: 400; border-radius: 10px;  background-color: rgba(254, 55, 68, 1); color: white;">
                                <img src="./../../../../assets/product_remove.png" style="width: 24px; height: 24px;"
                                    alt="">
                                Delete
                            </button>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
