.deals-navbar ul{
  padding: 0px 0px 0px 0px;
}
.deals-navbar ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    padding: 10px;
    padding-left: 0px;
    flex-wrap: wrap;
    padding-right: 15px;
}
.deals-navbar ul li button{
 border-radius: 7px;
}

.recent-deals-card {
  border: 1px solid rgb(242, 242, 242) !important;
  border-radius: 15px;
  
}

.isActive{
  background-color: #233B77 !important;
  color: white !important;
}

.product-name{
  font-weight: 500;
  font-size: 24px;
  line-height: 26.4px;
  opacity: 0.9;
}
.cName{
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  opacity: 0.9;
}
.supCountryName{
  font-weight: 400;
  font-size: 14px;
  line-height: 15.4px;
  opacity: 0.5;
  margin-left: 5px;
}
.other-details{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
}
.other-details-value{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.cancel-btn{
  background-color: rgba(254,55,68,1);
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
}
.accept-btn{
  background-color:  rgba(97, 185, 46, 1);
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
}
.counter-btn{
  background-color:  rgba(35, 59, 119, 1);
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
}
.cancel-btn-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 17.6px;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  opacity: 0.9;
}
.supp-resp-header{
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  opacity: 0.9;
}
.supp-res-change-prise{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
}
.comments-details{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.btn-light{
  color:  rgba(35, 59, 119, 1);
  background-color:  rgba(35, 59, 119, 0.1);
}
.isMobile{
  display: flex;
  justify-content: center;
}



