.modal-content{
    background: linear-gradient(335.88deg, #00995B 3.47%, #00E297 84.19%);
}

.modal-body{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.success-msg-detail h4{
    font-weight: 500;
    font-size: 28px;
    line-height: 33.74px;
    color: rgba(253, 253, 253, 1);
}
.success-msg-detail p{
    font-weight: 325;
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    color: rgba(253, 253, 253, 1);
}