
<div class="modal-content" style="background-color: rgb(170, 246, 228);">
    <div class="modal-header p-3" style="background-color: rgb(170, 246, 228);">
      <h5 style="color: rgb(2, 19, 2);"><b>Password is required</b></h5>
   
    </div>
    <div class="modal-body pt-3">
      <div class="order-placed-message">
          <div class="location-search">
            <label for="search" class="text-muted" style="color: rgb(2, 19, 2); font-size: 14px;">Password</label>
            <input type="search" class="form-control mt-1" style="height: 42px;" placeholder="Password" #pass>
            <!-- <i class="ri-search-line search-icon text-muted"></i> -->
           </div>

      </div>
      
    </div>

    <div class="modal-footer text-end">
        <!-- <button type="button" class="swal2-cancel btn btn-success bg-success text-white btn-sm w-xs mb-1" aria-label="" style="display: inline-block;" (click)="modal.close('Close click')" routerLink="home">Shop more</button> -->
        <button type="button" class=" btn btn-danger" aria-label=""  (click)="onSubmit(pass.value)">Submit</button>
    </div>
  </div><!-- /.modal-content -->