.modal-content{
    // background: linear-gradient(335.88deg, #00995B 3.47%, #00E297 84.19%);
    padding: 20px;
}

// .modal-body{
//     padding-top: 100px !important;
//     padding-bottom: 100px !important;
// }

.filled{
    color: var(--red-color) !important; 
}

.success-msg-detail h4{
    font-weight: 500;
    font-size: 28px;
    line-height: 33.74px;
    color: rgba(253, 253, 253, 1);
}
.success-msg-detail p{
    font-weight: 325;
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    color: rgba(253, 253, 253, 1);
}

.custom-circle{
    padding: 10px;
    color: lightgray;
    font-size: 20px;
}


/* app.component.css */
.image-container {
    position: relative;
    width: 200px;  /* Adjust width to your needs */
    height: 200px; /* Adjust height to your needs */
    margin: 0 auto;
  }
  
  .shape {
    position: absolute;
    top: 15px;  /* Adjust position to move the extra shapes */
    left: -40px;
    // width: 200px;  /* Adjust size */
    height: 160px;
    // z-index: 1;
  }
  
  .center-circle {
    position: absolute;
    top: 50%;  /* Center it */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Adjust size of the circle */
    height: 100px;
    z-index: 2;
  }
  .circle-text{
    position: absolute;
    top: 66%;  /* Center it */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Adjust size of the circle */
    height: 100px;
    z-index: 3;
    font-weight: 400;
    font-size: 37px;
    line-height: 30px;
    color: white;
  }


  .user-email{
    font-weight: 400;
    font-size: 18px;
    line-height: 19.8px;
  }
  .user-heading{
    font-weight: 500;
    font-size: 26px;
    line-height: 27px;
    color:  rgba(60, 65, 80, 1);;
  }
  .p-data{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  .next-btn{
    background-color: var(--blue-color);
    border-radius: 7px ;
    height: 50px;
  }

  .go-to-sign-in{
    font-weight: 400;
    font-size: 16px;
    line-height: 17.8px;
  }
  .go-to-sign-in-a{
    font-weight: 500;
    font-size: 16px;
    line-height: 17.8px;
    color:  rgba(234, 62, 72, 1);
    text-decoration: underline;
    cursor: pointer;
  }

  .custom-input{
    border: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    // font-size: 18px;
    padding-top: 10px !important;
  }
  .custom-input-btns{
    border-radius: 7px;
    background-color: var(--blue-color);
    color: white;
    border-radius: 7px;
  }

  .custom-card{
    border: 1px solid rgb(242, 242, 242) !important;
    border-radius: 15px;
    box-shadow: none;
    padding: 1px;
  }

  .form-label{
    text-align: start !important;
    opacity: 0.8 !important;
    font-weight: 325 !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }
  ::ng-deep .ng-select .ng-select-container {
    border-radius: 10px !important;
    height: 37px !important; /* Adjust height of the select container */
}
.main-card{
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: none;
}
.main-card .card{
    // border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: none;
    
}
.pro-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 15.8px;
    margin-bottom: 0px;
}
.selected-product{
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 3px;
    color: var(--red-color);
}


  