<div class="modal-content">
    <div class="modal-body">
        <div class="row text-center">
            <div class="col-lg-6 col-xl-6 col-md-8 col-sm-12 col-12 mx-auto">
                <i class="ri-checkbox-blank-circle-fill custom-circle filled" ></i>
                <i class="ri-checkbox-blank-circle-fill custom-circle" [class.filled]="isEditModeDone || this.countIs >=1"></i>
                <i class="ri-checkbox-blank-circle-fill custom-circle" [class.filled]="this.countIs >=1"></i>
                <i class="ri-checkbox-blank-circle-fill custom-circle" [class.filled]="this.countIs >=2"></i>
            </div>
        </div>
        <div class="row text-center mt-2">
            <ng-container *ngIf="this.countIs === 0">
            <div class="col-12">
                <div class="image-container">
                    <img src="../../../../assets/sign-up/Group 8.png" alt="shape" class="shape">
                    <img src="../../../../assets/sign-up/circle.png" alt="circle" class="center-circle">
                    <span class="circle-text">{{this.getFirstCharacter() |uppercase}}</span>
                </div>     
            </div>
            <div class="col-lg-12 text-center">
                <div class="user-email">{{this.emailId ? this.emailId :'owliedesigners@gmail.com'}}</div>
                <h5 class="user-heading mt-3">Welcome to Transparent Food</h5>
            </div>
            <div class="col-lg-12 mt-3">
                <div >
                   @if(isEditMode){
                        <div class="col-xl-10 col-lg-10 col-md-10 mx-auto">
                         <div class="card custom-card">
                            <div class="row d-flex justify-content-between">
                                <div class="col-xl-8 col-lg-8 col-md-8">
                            <input type="text" class="custom-input form-control" #inputVal [value]="this.name ? this.name :''" name="name">

                                </div>
                                <div class="col">
                            <button class="btn btn-light custom-input-btns" (click)="onSaveName(inputVal.value)">Submit</button>

                                </div>
                            </div>
                         </div>
                        </div>
                   }@else {

                       <div class="user-heading d-inline">{{this.getName(this.emailId ? this.emailId :'owliedesigners@gmail.com') | titlecase}}!</div>&nbsp;
                       <img src="../../../../assets/sign-up/edit-icon.png" class="cursor-pointer" (click)="editName()" alt="">

                   }
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="row">
                    <div class="col-lg-11 col-xl-11 col-md-11 col-sm-10 p-data text-center mx-auto">
                        Your answer to the next few questions will help us the right products for you
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- country select  -->
        <ng-container *ngIf="this.countIs === 1">
            <div class="col-lg-12 text-center">
                <h5 class="user-heading mt-3">What’s Your Language and Where do you live?</h5>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="row">
                    <div class="col-lg-11 col-xl-11 col-md-11 col-sm-10 p-data text-center mx-auto">
                        This helps us find you more relevant supplier and availability of product
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="form-group mt-3">
                    <div class="form-label">Select language *</div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected> English(US)</option>
                      </select>
                </div>

                <div class="form-group mt-3">
                    <div class="form-label">Select Country *</div>
                    <ng-select [items]="countries" [searchable]="true" style="width: 100%; height:50px; text-align: start;" [clearable]="false"
                    bindLabel="name" bindValue="name" placeholder="Select Country Name" [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}">
                    <ng-template ng-option-tmp let-item="item">
                       <span>
                          <img [src]="item.flag" style="width: 28px; height: 18px;">
                          <b style="color: #4F585E; margin-left: 5px;">{{ item.name }}</b>
                       </span>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                       <span>
                          <img [src]="item.flag" style="width: 28px; height: 18px; margin-right: 5px;">
                          <b style="color: #4F585E;">{{ item.name }}</b>
                       </span>
                    </ng-template>
                 </ng-select>
                </div>
            </div>
        </ng-container>
        
        <ng-container *ngIf="this.countIs === 2">
            <div class="col-lg-12 text-center">
                <h5 class="user-heading mt-3">What are you interested in?</h5>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="row">
                    <div class="col-lg-11 col-xl-11 col-md-11 col-sm-10 p-data text-center mx-auto">
                        This will customize your new home feed
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="row" style="justify-content: center;">
                    @for(item of productList; track $index){
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 my-3 " (click)="onSelectProduct(item)">
                            @if(item.isChecked){
                                <i class="ri-checkbox-circle-fill selected-product"></i>
                            }
                            <div class="card main-card p-1 mb-0 cursor-pointer">
                                <div class="card p-3 mb-0" style="background-color: rgb(248, 246, 246);">
                                    <img [src]="item.imgUrl" height="60" class="p-1" [alt]="item.name">
                                    <h5 class="pro-name mt-2" style="min-height: 40px;">{{item.name}}</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </ng-container>

            <div class="col-lg-12 mt-5">
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-10 mx-auto d-grid">
                        <button class="btn btn-primary next-btn" (click)="clickToNext()">Next</button>
                    </div>
                </div>
            </div>
            <!-- <img src="../../../../assets/sign-up/fish.png" alt=""> -->

            <div class="col-lg-12 mt-4">
                <span class="go-to-sign-in">If you have an account? </span><a class="go-to-sign-in-a" (click)="openSignIn()">Sign in</a>
            </div>
            
        </div>
    
    </div>
</div>