<div class="row w-100">
   <div class="col-md-6 ">
      <div class="form-container">
         <h1 style="font-size: 30px; color: #3C4150;">Sign Up</h1>
         <p class="py-2" style="font-size: 18px;">Join the <span style="font-size: 18px;"><b>Transparent</b></span><span
               style="color: red;font-size: 18px;"><b>Food</b></span></p>
         <form [formGroup]="userProfileForm">
            <div class="form-group">
               <label for="email" style="font-size: 14px; color: #4F585E;">E-mail<span>*</span></label>
               <input type="email" class="form-control" style="width: 100%; height:50px;" id="email"
                  placeholder="owliedesigners@gmail.com" formControlName="email"
                  [class.is-invalid]="isControlInvalid('email')">
               <div class="invalid-feedback" *ngIf="controlHasError('required', 'email')">Email is required</div>
               <div class="invalid-feedback" *ngIf="controlHasError('email', 'email')">Email is invalid</div>
            </div>
            <div class="form-group mt-3">
               <label for="password"  style="font-size: 14px; color: #4F585E;">Password<span>*</span></label>
               <input id="password-input" aria-describedby="passwordInput" type="password" class="form-control" style="width: 100%; height:50px;" id="password" minlength="8"
                  placeholder="**********************" formControlName="password"
                  [class.is-invalid]="isControlInvalid('password')"  
                  (focus)="showPasswordContain(true)"
                  (blur)="showPasswordContain(false)"
                  (keyup)="validatePassword()">
                  <div class="invalid-feedback" *ngIf="controlHasError('required', 'password')"> Password is required </div>
                            <div class="invalid-feedback" *ngIf="controlHasError('whitespace', 'password')">
                                Password cannot be empty or spaces only
                            </div>
            </div>
            <div id="password-contain" [style.display]="showPasswordValidation ? 'block' : 'none'">
               <p id="pass-lower" [class.valid]="validations.lower" [class.invalid]="!validations.lower">
                 At least one lowercase letter
               </p>
               <p id="pass-upper" [class.valid]="validations.upper" [class.invalid]="!validations.upper">
                 At least one uppercase letter
               </p>
               <p id="pass-number" [class.valid]="validations.number" [class.invalid]="!validations.number">
                 At least one number
               </p>
               <p id="pass-length" [class.valid]="validations.length" [class.invalid]="!validations.length">
                 Minimum 8 characters
               </p>
               <p id="pass-special" [class.valid]="validations.special" [class.invalid]="!validations.special">
                  {{'At least one special character (e.g., !@#$%^&*)'}}
                </p>
             </div>

            <div class="form-group mt-3">
               <label for="confirmPassword" style="font-size: 14px; color: #4F585E;">Re-enter Password<span>*</span></label>
               <input type="password" class="form-control" style="width: 100%; height:50px;" id="confirmPassword"
                  placeholder="**********************" formControlName="confirmPassword"
                  [class.is-invalid]="isControlInvalid('confirmPassword')">
                  <div class="invalid-feedback" *ngIf="controlHasError('required', 'confirmPassword')">
                  Confirm Password is required
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('confirmPasswordValidator', 'confirmPassword')">
                  Created Password and Confirm Password didn't match
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'confirmPassword')">
                  Password must be at least 8 characters long
              </div>
            </div>
            <div class="form-group mt-3">
               <label style="font-size: 14px; color: #4F585E;">Select Country<span>*</span></label>
               <ng-select [items]="countries" [searchable]="true" style="width: 100%;" [clearable]="false"
                  bindLabel="name" bindValue="name" placeholder="Select Country Name" formControlName="country">
                  <ng-template ng-option-tmp let-item="item">
                     <span>
                        <img [src]="item.flag" style="width: 28px; height: 18px;">
                        <b style="color: #4F585E; margin-left: 5px;">{{ item.name }}</b>
                     </span>
                  </ng-template>
                  <ng-template ng-label-tmp let-item="item">
                     <span>
                        <img [src]="item.flag" style="width: 28px; height: 18px; margin-right: 5px;">
                        <b style="color: #4F585E;">{{ item.name }}</b>
                     </span>
                  </ng-template>
               </ng-select>
            </div>
         </form>
         <button class="btn w-100 border-2 mt-3 custom-liiii" style="color:white; background-color: #233B77;" type="submit"
            (click)="signUp()">Sign up</button>

         <div class="text-center py-4">
            <!-- <a  <span>Sign in</span></a> -->
            <p  style="color:#3C4150; font-size: 16px;">If you have an account? <a style="color: red; cursor: pointer;"
                  (click)="openSignInModal()"><b><u>Sign In</u></b> </a></p>
         </div>
      </div>
   </div>
   <div class="col-md-6 justify-content-center align-items-center text-center bg-light py-5">
      <h1 style="color:#3C4150; font-size: 30px;">The best way to boost <br> your product</h1>
      <p style="color:#3C4150; font-size: 18px;">Upload and sell your product using <br> transparent food.</p>

      <div *ngIf="images">
         <ngb-carousel #carousel="ngbCarousel" [showNavigationArrows]="false" [showNavigationIndicators]="false">
            <ng-template ngbSlide>
               <div class="picsum-img-wrapper">
                  <img src="../../assets/Mask group.png" class="img-fluid" alt="Random first slide" />
               </div>
            </ng-template>
            <ng-template ngbSlide>
               <div class="picsum-img-wrapper">
                  <img src="../../assets/Mask group.png" class="img-fluid" alt="Random second slide" />
               </div>
            </ng-template>
            <ng-template ngbSlide>
               <div class="picsum-img-wrapper">
                  <img src="../../assets/Mask group.png" class="img-fluid" alt="Random third slide" />
               </div>
            </ng-template>
         </ngb-carousel>


         <div>
            <p class="mt-5" style="color:#3C4150; font-size: 18px;">Lorem Ipsum is simply dummy text of the printing and
               typesetting industry. Lorem Ipsum has been the industry's standard dummy
            </p>
         </div>

         <div class="custom-indicators mt-5">
            <span *ngFor="let slide of carousel?.slides; let i = index" [class.active]="carousel?.activeId === slide?.id"
               (click)="carousel.select(slide.id)">
            </span>
         </div>
      </div>
   </div>
</div>