<div class="modal-content" style="max-width: 100%;">
    <div class="modal-header p-3">
        <div id="example-modal-sizes-name">
            <h3 class="text-primary"><b>Environmental Sustainability</b></h3>
        </div>
        <a class="cursor-pointer" (click)="modal.dismiss()">
            <img src="./../../../../assets/env_sustainability_close.png" class="img-fluid" alt="">
        </a>
    </div>
    <div class="modal-body" style="padding: 0; position: relative;">
        <img class="mt-3 position-relative img-fluid" style="width: 100%; height: auto; max-width: 1060px;" src="./../../../../assets/home_environment_map.png" alt="">
        <img class="position-absolute" style="top: 90%; left: 13%; transform: translate(-50%, -50%); width: 25%; max-width: 275px;" src="./../../../../assets/home_env_num.png" alt="">
    </div>
    <hr class="mt-0 mb-0">
    <div class="row mt-3 mb-3 align-items-center">
        <div class="col-12 col-md-3">
            <div class="row ms-2">
                <div class="col-auto text-end">
                    <br>
                    <img class="mt-3 img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_bare_areas.png" alt=""> <br>
                    <p class="mt-1">Bare Areas</p> 
                </div>
                <div class="col-auto">
                    <br>
                    <img class="mt-3 img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_water.png" alt=""> <br>
                    <p class="mt-1">Water</p> 
                </div>
            </div>
        </div>
        <!-- Poor Section -->
        <div class="col-12 col-md-3">
            <b>Poor</b> <br>
            <div class="row mt-2">
                <div class="col-auto text-center">
                    <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_0.png" alt=""><br>
                    <p class="m-0 ms-2">0</p>
                </div>
                <div class="col-auto text-center">
                    <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_25.png" alt=""><br>
                    <p class="m-0 ms-2">25</p>
                </div>
            </div>
        </div>
        
        <!-- Medium Section -->
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <b>Medium</b> <br>
            <div class="row mt-2">
                <div class="col-auto text-center">
                    <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_50.png" alt="">
                    <p class="m-0 ms-2">50</p>
                </div>
                <div class="col-auto text-center">
                    <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_75.png" alt="">
                    <p class="m-0 ms-2">75</p>
                </div>
            </div>
        </div>
        
        <!-- Good Section -->
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <b>Good</b> <br>
            <div class="row mt-2">
                <div class="col-auto text-center">
                    <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_90.png" alt="">
                    <p class="m-0 ms-2">90</p>
                </div>
                <div class="col-auto text-center">
                    <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_100.png" alt="">
                    <p class="m-0 ms-2">100</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-2 text-end">
            <img class="mt-3 img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_bare_areas.png" alt=""> <br>
            <p class="mt-1">Bare Areas</p> 
        </div>
        <div class="col-2">
            <img class="mt-3 img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_water.png" alt=""> <br>
            <p class="mt-1">Water</p> 
        </div>
        <div class="col-1">
            <b>Poor</b> <br>
            <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_0.png" alt=""> <br>
            <p class="text-center mt-1">0</p>
        </div>
        <div class="col-1">
            <br>
            <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_25.png" alt=""> <br>
            <p class="text-center mt-1">25</p>
        </div>
        <div class="col-1">
            <b style="margin-left:50px;">Medium</b> <br>
            <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_50.png" alt=""> <br>
            <p class="text-center mt-1">50</p>
        </div>
        <div class="col-1">
            <br>
            <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_75.png" alt=""> <br>
            <p class="text-center mt-1">75</p>
        </div>
        <div class="col-1">
            <br>
            <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_90.png" alt=""> <br>
            <p class="text-center mt-1">90</p>
        </div>
        <div class="col-1">
            <b style="margin-left: 25px;">Good</b> <br>
            <img class="img-fluid" style="max-width: 70px; height: auto;" src="./../../../../assets/env_100.png" alt=""> <br>
            <p class="text-center mt-1">100</p>
        </div> -->
    </div>
</div>