<div class="card">
    <div class="card-body">
      <div class="card-header">
        <div class="modal-header">
          <div>
            <h3><b>Email Details</b></h3>
          </div>
        </div>
      </div>
      <header>
        <!-- Top Bar -->
        <div class="top-bar">
          <div class="container">
            <div class="contact-info">
              <a href="mailto:admin@gmail.com">admingmail.com</a>
              <!-- <a href="mailto:{{email}}">{{email}}</a> -->
              <span></span>
              <!-- <a href="tel:+918600865500">Call Us Now: +91 8600 86 5500</a> -->
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
  