<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" style="text-align:center;">
    <div class="row" style="text-align:center">
      <i class="bx bx-info-circle" style="font-size: 58px;color: wheat;margin-bottom: 8px"></i>
    </div>
    <h4>Are You Sure?</h4>
    <p>{{ message }}</p>
    <!-- <div class="row p-3" style="text-align:center" *ngIf="currentStatus === 'ACTIVE'">
        <textarea [(ngModel)]="reason" class="form-control" placeholder="Please provide a reason for deactivation" rows="3"></textarea>
    </div> -->
  
  </div>
  
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-6 " style="text-align:center;">
        <button type="button" class="btn btn-outline-danger" (click)="activeModal.dismiss('cancel')" style="border-radius: 10px;">
          Cancel
        </button>&nbsp;
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-6 " style="text-align:center;">
        <button  type="button" class="btn btn-outline-success ms-2"  (click)="confirm()" style="border-radius: 10px;">
          Confirm
        </button>
      </div>
    </div>
  </div>