.myborder {
    border-style: ridge;
    border-radius: 12px;
    border-width: 2px;
    border-color: rgb(24, 97, 192);
  }
  
  .defaultborder {
    border-style: ridge;
    border-radius: 12px;
    border-width: 2px;
    border-color: rgb(11, 14, 17);
  }
  
  .check {
    font-size:x-large;
    color:#556ee6;
    position: relative;
  }
  
  .uncheck {
    font-size:x-large;
    color:rgb(57, 59, 59);
    position: relative;
  
  }
  .check1 {
  
    color:rgb(31, 115, 226);
     font-size: small;
  
  }
  
  .uncheck1 {
  
    color:rgb(9, 10, 10);
    font-size: small;
  
  }
  
  .icon{
    font-size: 18px;
      margin-right: 5px;
  }
  
  