<div class="profile-foreground position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg profile-setting-img">
      <img src="assets/images/profile-bg.jpg" class="profile-wid-img" alt="" />
      <div class="overlay-content">
        <div class="text-end p-3">
          <!-- <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                      <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input">
                      <label for="profile-foreground-img-file-input" class="profile-photo-edit btn btn-light">
                          <i class="ri-image-edit-line align-bottom me-1"></i> Change Cover
                      </label>
                  </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-12">
      <div class="card mt-n5">
         <div class="card-body">
          <!--<h5>Admin Update Profile</h5>
          <hr />
          <div class="col-lg-4" style="margin-left: 520px">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-group" style="text-align: center; margin-top: 5px">
                <label for="logo">
                  <b style="font-size: 14px">Upload Profile Photo</b></label>
              </div>
              <div class="col-lg-12" style="text-align: center">
                <div class="form-group">
                  <img
                    class="rounded-circle avatar-lg img-thumbnail user-profile-image"
                    style="border: 1px solid black"
                    src="{{ imgurl }}"
                    height="100"
                    width="100"/>
                </div>
              </div>
              <div
                class="row"
                style="
                  justify-content: center;
                  text-align: center;
                  margin-top: 5px;
                  margin-right: 0px;">
                <div class="col-lg-2 col-sm-3 col-6">
                  <input
                    hidden
                    #myInput
                    type="file"
                    #uploader
                    name="adminProfilePic"
                    (change)="uploadFileForProfilePhoto($event)"
                    accept="image/*"/>
                  <button
                    *ngIf="!this.file"
                    type="button"
                    class="btn btn-primary"
                    style="margin-left: -30px"
                    (click)="uploader.click()">
                    Upload
                  </button>
                </div>
                <div *ngIf="this.file" class="col-lg-2 col-sm-3 col-6">
                  <button
                    type="button"
                    class="btn btn-danger"
                    style="margin-left: -50px"
                    (click)="RemoveProfileUrl()">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <form [formGroup]="formGroup" style="margin-left: 15px; margin-right: 15px">
          <div class="form-group row">
            <div class="col-lg-12">
              <div class="form-group row">
                <div class="col-lg-4">
                  <label class="form-label">Enter First Name</label>
                  <input
                    type="text"
                    class="form-control form-control-solid"
                    name="firstName"
                    placeholder="First Name"
                    autocomplete="off"
                    [class.is-invalid]="isControlInvalid('firstName')"
                    [class.is-valid]="isControlValid('firstName')"
                    formControlName="firstName" />
                  <div class="invalid-feedback" *ngIf="controlHasError('required','firstName')">
                    First Name is required
                  </div>
                </div>
                
                <div class="col-lg-4">
                  <label class="form-label">Enter Last Name</label>
                  <input
                    type="text"
                    class="form-control form-control-solid"
                    name="lastName"
                    placeholder="Last Name"
                    autocomplete="off"
                    [class.is-invalid]="isControlInvalid('lastName')"
                    [class.is-valid]="isControlValid('lastName')"
                    formControlName="lastName" />
                  <div class="invalid-feedback" *ngIf="controlHasError('required','lastName')">
                    Last Name is required
                  </div>
                </div>
        
                <div class="col-lg-4">
                  <label class="form-label">Enter Mobile No</label>
                  <input
                  type="text"
                  class="form-control form-control-solid"
                  name="mobileNo"
                  placeholder="mobile No"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('mobileNo')"
                  [class.is-valid]="isControlValid('mobileNo')"
                  formControlName="mobileNo"
                  numbersOnly
                  minlength="10"
                  maxlength="10"/>
                  <div class="invalid-feedback" *ngIf="controlHasError('required','mobileNo')">
                    Mobile No is required
                  </div>
                </div>
              </div>
              <div class="form-group row mt-2">
                <div class="col-lg-4">
                  <label class="form-label">Enter Email</label>
                  <input
                    type="email"
                    class="form-control form-control-solid"
                    name="email"
                   
                    placeholder="Email"
                    autocomplete="off"
                    [class.is-invalid]="isControlInvalid('email')"
                    [class.is-valid]="isControlValid('email')"
                    formControlName="email" />
                  <div class="invalid-feedback" *ngIf="controlHasError('required','email')">
                    Email is required
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="form-label">Enter Password</label>
                  <input
                    type="password"
                    class="form-control form-control-solid"
                    name="password"
                    placeholder="Password"
                    autocomplete="off"
                    [class.is-invalid]="isControlInvalid('password')"
                    [class.is-valid]="isControlValid('password')"
                    formControlName="password" />
                  <div class="invalid-feedback" *ngIf="controlHasError('required','password')">
                    Password is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: -5px; margin-bottom: 20px">
            <div class="col-md-12 mt-4 text-end">
              <div class="hstack gap-2 justify-content-end">
                <button
                  type="button"
                  class="btn btn-light btn-elevate mr-2"
                  routerLink="/ProfileUpdate/profile">
                  Cancel
                </button>
                <button
                  class="btn btn-primary btn-elevate"
                  type="button" 
                  (click)="save()">
                  Update
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  