.stepper-header[_ngcontent-ng-c625643793] .steps[_ngcontent-ng-c625643793] .step[_ngcontent-ng-c625643793] {
    text-align: start !important;
    font-size: 1em;
}

.active-step {
    background-color: #233B77;
    color: white;
    border-color: #233B77;
}

.inactive-step {
    background-color: #e1e5f0;
    color: #233B77;
    border-color: #fff;
}

.form-check-input[type=radio] {
  cursor: pointer;
}
