<div class="row">
    <div class="col-12">
        <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 my-2">
        <span class="heading">All Products</span>
    </div>
    <div class="col text-end my-2">
        <span>
            <div class="d-inline-block">
                <div class="search-box">
                    <input type="text" (input)="onSearch($event)" placeholder="Search Products">
                    <i class="ri-search-line"></i>
                </div>
            </div>
            <div class="d-sm-inline-block mt-2">
                <div class="row">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block " [class.fixed-filter]="isDropdownOpen" placement="bottom">
                            @if(isDropdownOpen === false){
                                <button class="btn btn-light custom-filter-btn" style="margin-left: 10px;"
                                    id="dropdownForm1" (click)="toggleDropdown()">
                                    <img src="../../../assets/filter-icon.png" class="d-inline-block" alt="" />&nbsp;&nbsp;
                                    <span class="d-inline-block filter-btn-txt">Filter by</span>
                                </button>

                            }

                             <!-- Backdrop -->
                              <div class="custom-backdrop" [ngClass]="{'show-backdrop': isDropdownOpen}"></div>

                             <!-- Dropdown Menu start-->
                            <div ngbDropdownMenu aria-labelledby="dropdownForm1"
                                [ngClass]="{'custom-dropdown-menu': isDropdownOpen, 'hide': !isDropdownOpen}">
                                <div class="row px-2">
                               
                               <div class="co-lg-12 mt-3 mb-1 filter-heading">
                                <h4>Filter By</h4>
                                <span class="cursor-pointer" (click)="toggleDropdown()">Clear</span>
                               </div>

                               <div class="col-xl-12 mt-2 custom-scrollbar">
                                  <form>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Category</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Processed Food</option>
                                            <option value="1">Dairy & Eggs</option>
                                            <option value="2">Meat & Poultry</option>
                                            <option value="3">Fruits & Vegetables</option>
                                            <option value="3">Fish</option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Location</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>INDIA</option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Product</div>
                                        <div class="search-box-filter">
                                            <input type="text" value="Apple" placeholder="Search Products">
                                            <i class="ri-search-line"></i>
                                        </div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Annual Capability</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> &lt;1 TON </option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Certificate</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> Global GAP </option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3 mx-1">
                                        <div class="form-label">Sustainability *</div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input fs-14" type="radio" name="sustainability" id="inlineRadio1" value="option1" checked>
                                            <label class="form-check-label fs-14" for="inlineRadio1">Low Carbon</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input fs-14" type="radio" name="sustainability" id="inlineRadio2" value="option2">
                                            <label class="form-check-label fs-14" for="inlineRadio2">Animal Welfare</label>
                                          </div>
                                    </div>
                                    <div class="form-group mt-3 mx-1">
                                        <div class="form-label">Export *</div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input fs-14" type="checkbox" name="export" id="inlineRadio3" value="option3" checked>
                                            <label class="form-check-label fs-14" for="inlineRadio3">Export</label>
                                        </div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Price</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> High to Low </option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Sale Valume *</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> High to Low </option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Credit *</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> High to Low </option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3 mx-1">
                                        <div class="form-label">Organic *</div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input fs-14" type="radio" name="organic" id="inlineRadio3" value="option4" checked>
                                            <label class="form-check-label fs-14" for="inlineRadio3">Low Carbon</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input fs-14" type="radio" name="organic" id="inlineRadio4" value="option5">
                                            <label class="form-check-label fs-14" for="inlineRadio4">Animal Welfare</label>
                                          </div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Quantity</div>
                                        <input type="text" name="quantity" value="10MT" class="form-control">
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Variety</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> Demo </option>
                                          </select>
                                    </div>
                                    <!-- <div class="form-group mt-3">
                                        <div class="form-label">Vendor</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> -- Select -- </option>
                                          </select>
                                    </div> -->
                                    <div class="form-group mt-3">
                                        <div class="form-label">Quality & Safety</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> -- Select -- </option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Non GMO</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> -- Select -- </option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Fair Trade</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> -- Select -- </option>
                                          </select>
                                    </div>
                                    <div class="form-group mt-3">
                                        <div class="form-label">Ethics</div>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected> -- Select -- </option>
                                          </select>
                                    </div>
                                    
                                  </form>
                               </div>

                                <div class="col-lg-12 my-3 mt-4">
                                    <div class="row d-flex justify-content-betweem">
                                        <div class="col">
                                            <button class="btn custom-cancel-btn  d-flex justify-content-between align-items-center" (click)="toggleDropdown()">
                                                <span class="d-inline-block custom-cancel-btn-txt">Cancel</span>&nbsp;&nbsp;
                                                <img src="../../../assets/cross-icon.png" class="img-fluid" class="d-inline-block" alt="">
                                            </button>
                                        </div>
                                        <div class="col">
                                            <button class="btn custom-apply-btn d-flex justify-content-between align-items-center" (click)="toggleDropdown()">
                                                <span class="d-inline-block custom-apply-btn-txt">Apply Filter</span>&nbsp;&nbsp;
                                                <img src="../../../assets/double-check-icon.png" class="img-fluid" class="d-inline-block" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>

                            </div>
                            <!-- Dropdown Menu end-->
                        </div>
                    </div>
                </div>
            </div>

        </span>
    </div>
</div>


<div class="row mt-4">
    @for(item of ourProductList; track $index){
    <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6 col-sm-6">
        <div class="card our-product-card">
            <div class="row">
                <div class="col-lg-12 text-end">
                    <button class="btn btn-light m-2 wish-btn" style="border-radius: 10px;" (click)="addToWishlist(item)">
                        @if(item.isWishlist===true){
                            <img src="../../../assets/heart-filled.png" height="25" alt="">
                        }@else {
                            <img src="../../../assets/wishlist-icon.png" height="25"  alt="">
                        }
                    </button>
                    <button class="btn btn-light m-2 wish-btn" style="border-radius: 10px;">
                        <img src="../../../assets/home_retailer.png" height="25" class="img-fluid" alt=""></button>
                </div>
                <div class="col-lg-12 " >
                    <div class="row mt-2">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center" style="height: 100px;">
                            <img [src]="item?.imgUrl" class="img-fluid" alt="product-image">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="p-name">{{item?.name}}</div>
                            <div class="p-price mt-2">{{item?.dealPrice}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 my-3">
                    <span class="cName">{{item?.companyName}}</span>&nbsp;
                    <img [src]="item.twitterBlueTagUrl" height="20" width="20" class="img-fluid" alt="">
                    <div>
                        <img [src]="item.flagUrl" height="20" width="20" class="img-fluid" alt=""><span
                            class="supCountryName">{{item?.suppCountry}}</span>
                    </div>
                </div>

                <div class="col-lg-12 my-3 d-flex">
                    
                    <button class="btn btn-primary btn-primary-custom w-100" (click)="dealNow(item)">Deal Now <img src="../../../assets/deal-now-btn.png" width="15" class="d-inline-block" alt=""></button>&nbsp;&nbsp;
                    <button class="btn btn-light btn-light-custom w-100" (click)="viewDetails(item)">View Detail <img src="../../../assets/view-details-btn.png" width="15" class="d-inline-block" alt=""></button>
                    <!-- <div class="row d-flex justify-content-betweem">
                        <div class="col">
                            <button class="btn custom-deal-btn d-flex justify-content-betweem" (click)="dealNow(item)">
                                <span class="d-inline-block custom-deal-btn-txt">Deal Now</span>&nbsp;&nbsp;
                                <img src="../../../assets/deal-now-btn.png" class="img-fluid" height="20" class="d-inline-block" alt="">
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn custom-view-btn d-flex justify-content-betweem">
                                <span class="d-inline-block custom-view-btn-txt">View Detail</span>&nbsp;&nbsp;
                                <img src="../../../assets/view-details-btn.png" class="img-fluid" height="20" class="d-inline-block" alt="">
                            </button>
                        </div>
                    </div> -->
                </div>

                <div class="col-lg-12">
                    <hr class="my-3" style="opacity: 0.1;">
                </div>

                <div class="col-lg-12">
                    <div class="popular-products">
                        <div class="popu-product">Popular products</div>
                        <div class="product-container my-3">
                            <div class="product">
                                <img [src]="item.populerProducts[0].imgUrl" class="img-fluid" height="50" alt="Steak">
                                <p>{{item.populerProducts[0].name}}</p>
                                <span>{{item.populerProducts[0].price}}</span>
                            </div>
                            <div class="divider"></div>
                            <div class="product">
                                <img [src]="item.populerProducts[1].imgUrl" class="img-fluid" height="50" alt="Pork">
                                <p>{{item.populerProducts[1].name}}</p>
                                <span>{{item.populerProducts[1].price}}</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    }
</div>