<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 style="color: #39383A; font-weight: 500; font-size: 28px;">My Favourite Products</h2>
        <p style="font-weight: 400; font-size: 16px;">Check All Your Favourite Products</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-xxl-12 col-sm-12 col-md-12 col-lg-12 col-12">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="card p-3" style="border: 1px solid #0000001A; border-radius: 15px; height: 100%;">
                    <div class="row">
                        <div class="col-auto">
                            <img src="./../../../../assets/product_banana.png" style="width: 100%; height: auto;"
                                alt="">
                        </div>
                        <div class="col-auto">
                            <p style="font-size: 18px; color: #4F585E;font-weight: 400; margin-top: 20px;">Banana
                                <br>
                                <span style="font-size: 20px; color: #4F585E;font-weight: 500;">$ 2,290 MT</span>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <p style="font-size: 18px; color: #4F585E;font-weight: 400;">Arvind Fruits & Company
                            <img src="./../../../../assets/supplier_blue_tick.png" width="17px" height="17px"
                                alt=""><br>
                            <span style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                <img src="./../../../../assets/supplier_india_flag.png" width="24px" height="18px"
                                    alt="">
                                INDIA
                            </span>
                        </p>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
                            <button class="btn d-flex"
                                style="background-color: #233B77; color: white; font-size: 13px; font-weight: 400; border-radius: 10px;">
                                <img src="./../../../../assets/product_view_details.png"
                                    style="width: 20px; height: 20px;" alt=""> &nbsp;
                                <span> View Details</span>
                            </button>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
                            <button class="btn"
                                style="background-color: #FE3744; color: white; font-size: 13px; font-weight: 400; border-radius: 10px;">
                                <img src="./../../../../assets/product_remove.png" style="width: 20px; height: 20px;"
                                    alt="">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="card p-3" style="border: 1px solid #0000001A; border-radius: 15px; height: 100%;">
                    <div class="row">
                        <div class="col-auto">
                            <img src="./../../../../assets/product_chicken.png" style="width: 100%; height: auto;"
                                alt="">
                        </div>
                        <div class="col-auto">
                            <p style="font-size: 18px; color: #4F585E;font-weight: 400; margin-top: 20px;">Chicken
                                <br>
                                <span style="font-size: 20px; color: #4F585E;font-weight: 500;">$ 2,290 MT</span>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <p style="font-size: 18px; color: #4F585E;font-weight: 400;">Ahemad & Co.
                            <img src="./../../../../assets/supplier_blue_tick.png" width="17px" height="17px"
                                alt=""><br>
                            <span style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                <img src="./../../../../assets/supplier_india_flag.png" width="24px" height="18px"
                                    alt="">
                                INDIA
                            </span>
                        </p>
                    </div>
                    <div class="row mt-2">
                        <div class="col-auto">
                            <button class="btn"
                                style="background-color: #233B77; color: white; font-size: 13px; font-weight: 400; border-radius: 10px;">
                                <img src="./../../../../assets/product_view_details.png"
                                    style="width: 20px; height: 20px;" alt="">
                                    <span> View Details</span>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn"
                                style="background-color: #FE3744; color: white; font-size: 13px; font-weight: 400; border-radius: 10px;">
                                <img src="./../../../../assets/product_remove.png" style="width: 20px; height: 20px;"
                                    alt="">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="card p-3" style="border: 1px solid #0000001A; border-radius: 15px; height: 100%;">
                    <div class="row">
                        <div class="col-auto">
                            <img src="./../../../../assets/product_muskmelon.png" style="width: 100%; height: auto;"
                                alt="">
                        </div>
                        <div class="col-auto">
                            <p style="font-size: 18px; color: #4F585E;font-weight: 400; margin-top: 20px;">Muskmelon
                                <br>
                                <span style="font-size: 20px; color: #4F585E;font-weight: 500;">$ 2,290 MT</span>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <p style="font-size: 18px; color: #4F585E;font-weight: 400;">Manjunatha & Co.
                            <img src="./../../../../assets/supplier_blue_tick.png" width="17px" height="17px"
                                alt=""><br>
                            <span style="font-size: 14px; color: #4F585E;font-weight: 400;">
                                <img src="./../../../../assets/supplier_india_flag.png" width="24px" height="18px"
                                    alt="">
                                INDIA
                            </span>
                        </p>
                    </div>
                    <div class="row mt-2">
                        <div class="col-auto">
                            <button class="btn"
                                style="background-color: #233B77; color: white; font-size: 13px; font-weight: 400; border-radius: 10px;">
                                <img src="./../../../../assets/product_view_details.png"
                                    style="width: 20px; height: 20px;" alt="">
                                    <span> View Details</span>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn"
                                style="background-color: #FE3744; color: white; font-size: 13px; font-weight: 400; border-radius: 10px;">
                                <img src="./../../../../assets/product_remove.png" style="width: 20px; height: 20px;"
                                    alt="">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>