.cName{
    font-weight: 500;
    font-size: 16px;
    line-height: 17.6px;
    opacity: 0.9;
  }
  .supCountryName{
    font-weight: 400;
    font-size: 14px;
    line-height: 15.4px;
    opacity: 0.5;
    margin-left: 5px;
  }

  .img-block{
    border: 0.5px solid lightgray;
    display: inline-block;
  }
  .text-block{
    padding-left: 20px;
    display: inline-block;

  }
  .label-custom{
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    opacity: 0.5;
  }
  .value-custom{
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    // opacity: 0.5;
  }
  .form-label{
    opacity: 0.5;
  }
  .submit-btn button{
    border-radius: 8px;
    margin: 8px;
    border: none;
  }
  .add-batch-btn{
    background-color:   rgba(35, 59, 119, 1);
  }
  .accept-deal-before{
    opacity: 0.9;
    background-color:  rgba(205, 205, 205, 1);
  }
  .accept-deal-after{
    opacity: 1;
    background-color:    rgba(97, 185, 46, 1);
  }
  .remove-btn{
    border-radius: 8px;
    background-color: rgba(255, 83, 83, 1);
  }
