<div class="modal-content">
    <div class="modal-body py-4">
      <div class="row text-center py-5">
        <div class="col-lg-12">
            <img src="../../../../../assets/seller_submit_tick.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-12 success-msg-detail mt-5">
            <h4>{{'Deal Accepted !'}}</h4>
            <!-- <p class="mt-3">{{this.data ? this.data!.para1 :'You have your deal is successfully'}}</p>
            <p>{{this.data ? this.data!.para2 :'processed'}} </p> -->
        </div>
      </div>
    </div>
</div>