<div class="modal-content" style="min-height: 200px; padding: 20px;">
    <div class="modal-header">
        <h2 class="modal-title">View Contsct Us Details</h2>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr>
    <div class="modal-body">
        <div class="row ">
            <div class="col-lg-6 mt-2">
                <div class="row">
                    <div class="col-5 ">
                        <span><b>Discription : </b></span>
                    </div>
                    <div class="col-7 ">
                        {{item.description == null || item.description == '' || item.description == undefined ? '-' :
                        item.description}}
                    </div>
                </div>
            </div>
        </div>
</div>
</div>