<!-- <footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
             
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                   
                </div>
            </div>
        </div>
    </div>
</footer> -->
<footer  [class.isHome]="isHomeScreen()" style="background-color: white;">
    <div class="container-fluid">
        <div class="row">
            <div class="card p-3" style="border-radius: 20px;">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-6 col-12 text-center text-md-start">
                        <img  routerLink="/" src="./../../../assets/image 15.png" class="img-fluid cursor-pointer" alt="">
                        <p class="mt-1" style="font-size: 23px; font-weight: 500;">World's leading Food Industry
                            Marketplace</p>
                    </div>
                    <div class="col-md-6 col-12 text-center text-md-end mt-3 mt-md-0">
                        <button class="btn"
                            style="background-color: #FE3744; width: 100%; max-width: 202px; height: 54px; color: white; border-radius: 10px; font-size: 16px;">
                            List Your Products
                            <img src="./../../../assets/footer_product_user.png" width="24px" height="24px" alt="">
                        </button>
                        <p class="mt-1" style="font-size: 19px; font-weight: 400;">Join our network and grow your
                            business!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row ">
            <ul class="list-unstyled d-flex flex-wrap justify-content-center cursor-pointer text-dark">
                <li>
                    <a class="text-dark" style="font-size: 19px; font-weight: 400;">About Us
                        <img class="ms-2 d-none d-md-inline" src="./../../../assets/vertical_line.png" height="30px" alt="">
                    </a>
                </li>
                <li>
                    <a class="ms-3 text-dark" style="font-size: 19px; font-weight: 400;">Careers
                        <img class="ms-2 d-none d-md-inline" src="./../../../assets/vertical_line.png" height="30px" alt="">
                    </a>
                </li>
                <li>
                    <a class="ms-3 text-dark" style="font-size: 19px; font-weight: 400;">Contact Us
                        <img class="ms-2 d-none d-md-inline" src="./../../../assets/vertical_line.png" height="30px" alt="">
                    </a>
                </li>
                <li>
                    <a class="ms-3 text-dark" style="font-size: 19px; font-weight: 400;">Terms and Conditions
                        <img class="ms-2 d-none d-md-inline" src="./../../../assets/vertical_line.png" height="30px" alt="">
                    </a>
                </li>
                <li>
                    <a class="ms-3 text-dark" style="font-size: 19px; font-weight: 400;">Privacy Policy
                        <img class="ms-2 d-none d-md-inline" src="./../../../assets/vertical_line.png" height="30px" alt="">
                    </a>
                </li>
                <li>
                    <a class="ms-3 text-dark" style="font-size: 19px; font-weight: 400;">Blogs
                        <img class="ms-2 d-none d-md-inline" src="./../../../assets/vertical_line.png" height="30px" alt="">
                    </a>
                </li>
                <li>
                    <a class="ms-3 text-dark" style="font-size: 19px; font-weight: 400;">Help & Support
                    </a>
                </li>
            </ul>
        </div>
        <hr class="pb-3">
    </div>
    <div class="pb-5">
        <div class="row text-center text-dark">
            <div class="col-12" style="font-size: 19px; font-weight: 400;">
                © {{year}} Transparent Food. All rights reserved.
            </div>
        </div>
    </div>
</footer>
